[2017-02-07 08:43] AnnCorp opened #18 "Additional Global metadata fields"
@nathaneastwood @shaneporter  Revising this issue/requirement to cover wider than global metadata. Specifying changes to global metadata and uk metadata - indicator specific and source specific. Document listing requirements is with Jen Thomas for review and amending - will pass on once Jen has completed her comments.
Key change: needed to have source-specific metadata within an indicator where th

[2017-02-07 08:50] AnnCorp opened #19 "Visualisations for disaggregations"
AS A user of ONS SDG website
I WANT visualisations of how data for disaggregations compares with data at national level
SO THAT I can quickly/easily see which disaggregated groups are better/worse than national figure and so who is being left behind.
Sample indicators with disaggregated data. In UK system (subject to pull requests going through) try 3.2.2 , 3.4.2 and poss 3.3.1. In US system 8.5.1

[2017-02-07 10:03] nathaneastwood commented on #19
@shaneporter see the above :)

[2017-02-09 12:18] dougmet commented on #18
![](https://github.trello.services/images/mini-trello-icon.png) [SDG team to specify detailed requirements for metadata and data collection](https://trello.com/c/skpfdUyf/43-sdg-team-to-specify-detailed-requirements-for-metadata-and-data-collection)

[2017-02-09 12:19] dougmet commented on #19
![](https://github.trello.services/images/mini-trello-icon.png) [User story: visualisations for disaggregations](https://trello.com/c/JhIe5TpX/50-user-story-visualisations-for-disaggregations)

[2017-02-09 12:20] dougmet commented on #18
![](https://github.trello.services/images/mini-trello-icon.png) [User story: add fields for metadata](https://trello.com/c/Zadn1MyB/51-user-story-add-fields-for-metadata)

[2017-02-09 12:21] dougmet opened #20 "Add development disclaimer"
This is publicly visible so we need an appropriate disclaimer about both the data and the site development.

[2017-02-09 12:22] dougmet commented on #20
![](https://github.trello.services/images/mini-trello-icon.png) [Produce text for website noting status of data/development](https://trello.com/c/0NVPYk4T/54-produce-text-for-website-noting-status-of-data-development)

[2017-02-10 11:08] AnnCorp opened #21 "Improved navigation, including targets"
As a website user
I NEED to easily navigate around the goals/targets/indicators and be clear where I am in the site
SO THAT I can quickly get to the information I need

Feedback from the team re initial US version of system:
•	Would like to improve visibility of which target you’re in when in indicator screens
•	Would like ability to more easily navigate between the goals, targets and indicators.

[2017-02-10 11:12] AnnCorp commented on #21
![](https://github.trello.services/images/mini-trello-icon.png) [User story: improved navigation, including targets](https://trello.com/c/QkC71OHs/55-user-story-improved-navigation-including-targets)

[2017-02-10 12:45] AnnCorp commented on #20
@shaneporter @dougmet pls could you add text below to home page - it may change again but keen to replace the dummy text asap. Thanks

UK data for Sustainable Development Goal indicators
This is a development website for collecting and disseminating UK data for the Sustainable Development Goal global indicators. This is a collaboration between the ONS Sustainable Development Goals team and the ONS

[2017-02-10 12:52] nathaneastwood commented on #21
@shaneporter is this clearer now? Did you add the target to the top of the coloured field when you click on an indicator? Or is that the goal description?

[2017-02-10 12:57] nathaneastwood commented on #21
Ok, I just looked at the current iteration. @AnnCorp when you click on an indicator, it shows the goal description as well as the indicator description at the top (in the coloured section). Would including the Target text in here be a solution?

[2017-02-10 13:00] dougmet commented on #21
Goals and targets data added to Trello ticket.

[2017-02-10 13:03] dougmet commented on #21
[Goals targets and indicators.xlsx](https://github.com/ONSdigital/sdg-indicators/files/766722/Goals.targets.and.indicators.xlsx)

[2017-02-10 13:08] AnnCorp commented on #21
@nathaneastwood think that's the obvious solution to try first though with the lengthy text descriptions not sure how it will all fit in?!

[2017-02-10 13:28] shaneporter commented on #20
Surely it needs to be on **every** page.

[2017-02-10 13:31] shaneporter commented on #21
It can fit in of course, but I think the design of the site needs to change. I'll give it some thought.

[2017-02-10 13:44] shaneporter commented on #20
I'll do this on my branch, because Monday is when the website merge is going to occur.

[2017-02-10 13:52] dougmet commented on #20
OK, cool. For now the live front page is updated.

[2017-02-10 14:27] shaneporter commented on #20
I'm done until Tuesday now @dougmet (last ever commits, to my branch, pushed)

[2017-02-13 21:29] dougmet commented on #20
Fixed in d01803f640

[2017-02-13 21:40] dougmet opened #25 "Pass html-proofer tests"
On the travis build. It's very strict!

[2017-02-14 11:28] shaneporter commented on #25
It's generating so many errors because [html-proofer has its own issues with Jekyll's baseurl](https://github.com/gjtorikian/html-proofer/issues/266).

I don't doubt there _are_ issues in the generated markup, but they're being masked by a thunderspew of html-proofer issues.

I'm not inclined to spend too much time right now on this; I did try some 'workarounds' but they didn't work.

[2017-02-14 12:08] nathaneastwood opened #26 "Multiple data changes can cause clashes"
There is currently no system in place for creating multiple changes and therefore submitting multiple PRs for the same file. This can cause confusion as people can't necessarily see that a change has already been made when on prose.io or the website itself.

[2017-02-14 12:18] shaneporter commented on #26
Please clarify a bit. Are you saying that multiple users are not able to submit a pull request for the same file?

[2017-02-14 12:33] #25 closed

[2017-02-14 13:47] nathaneastwood commented on #26
Sorry bud, I wrote this trying to have a conversation at the same time...never a good idea.

Essentially, person A can submit a PR, but those changes obviously won't be merged until the Data Manager accepts the changes. In the meantime, person B can also submit a change - but those changes could potentially clash with the changes submitted by person A (or they may be creating a duplicate PR). This

[2017-02-14 14:21] shaneporter commented on #26
The approval of changes is the responsibility of the Data Manager, so it's up to them to resolve any conflicts between multiple PRs.

If the website states that the data isn't necessarily the most up-to-date, it will be confusing for people. They will ask 'well, why isn't it the latest? What _am_ I seeing?'

So if we simply leave off the 'this might not be the latest/your proposed changes may conf

[2017-02-14 14:25] nathaneastwood commented on #26
Yeah I agree with that. Good point.

I guess the data providers will have to have the awareness and check any PRs waiting to be dealt with? i.e. we will need to provide some form of training / manual?

[2017-02-14 15:07] shaneporter commented on #26
GitHub should notify the Data Providers (they're the ones that approve PRs, I'm assuming) when a PR arises (or, we could have a hook that does that, specifically for a data related PR).

For the website users (so they don't repeatedly submit PRs for the _same_ changes), how about

Or something similar.

[2017-02-14 15:24] nathaneastwood commented on #26
Sounds good to me :)

[2017-02-15 10:40] dougmet commented on #20
From @AnnCorp
Great idea to put the disclaimer on all the pages. If we're doing that, think we can make the text shorter (and just put a fuller version on some kind of 'About' text when we develop that)

Shortened version below.
This is a development website for collecting and disseminating UK data for the Sustainable Development Goal global indicators. Currently data on the site may be test data.

[2017-02-15 10:41] shaneporter commented on #20
I've updated this.

[2017-02-15 10:41] #20 closed

[2017-02-15 16:34] shaneporter opened #29 "Investigate: remove CSV-based JS from site"
After doing some work to convert CSV to JSON in the Jekyll output, it now doesn't seem necessary to import a JavaScript 'CSV' library or use the `csvToHtmlTable.js` script.

Remove these dependencies.

[2017-03-22 13:03] AnnCorp opened #31 "Guidance on how we set up the UK version of the US SDGs tool in GitHub"
Adding v.02 of guidance to repository - incorporates Ann Corp's early draft and Doug Ashton's technical additions.
[How the UK have set up their copy of the US SDGs tool v0_2.pdf](https://github.com/datasciencecampus/sdg-indicators/files/861443/How.the.UK.have.set.up.their.copy.of.the.US.SDGs.tool.v0_2.pdf)

[2017-04-06 09:29] nathaneastwood opened #32 "Remove UN logo"
@shaneporter can you please make this the first thing you do.

[2017-04-06 09:29] nathaneastwood commented on #32
![](https://github.trello.services/images/mini-trello-icon.png) [Remove UN logo from homepage branding](https://trello.com/c/zmoESYcZ/59-remove-un-logo-from-homepage-branding)

[2017-04-06 09:56] nathaneastwood commented on #31
More to do, but putting on hold for now.

[2017-04-06 10:06] nathaneastwood commented on #32
![](https://github.trello.services/images/mini-trello-icon.png) [User story: visualisations for disaggregations](https://trello.com/c/JhIe5TpX/50-user-story-visualisations-for-disaggregations)

[2017-04-06 15:30] #32 closed

[2017-04-07 08:47] dougmet commented on #31
I'll at least copy the contents of the pdf into the wiki. When we get back to it this ticket could cover:

- [ ] Documentation for developers wanting to fork the repo
- [ ] Scripts to run that will reset the data
- [ ] Scripts to step through changing the config files, swapping flags etc.

[2017-04-10 10:34] dougmet opened #34 "Add new format dataset"
This is required to begin work on #19 (which needs splitting up incidentally).

I've got a version of the new data. Just need to:

- [x] Upload new csv file
- [x] Make sure it doesn't break the build

Then can hand over to @shaneporter

[2017-04-10 10:53] dougmet opened #35 "Can prose support multiple data sources?"
We'd like to be able to add a list of data sources with variable length into the metadata. This is no trouble with the underlying yaml but prose looks like it can only do field/value flat combinations.

What is the best way to support a variable number of data sources with prose?

Child issue of #18

[2017-04-10 10:54] dougmet commented on #18
Variable data sources is entirely possible in the yaml (raw data format we're using) but possibly challenging in prose.io. Have added #35 to this sprint to investigate

[2017-04-10 10:57] dougmet commented on #26
Just to be clear. Is the outcome of this conversation that we should configure prose to display the notice:

to be displayed after an update via prose?

[2017-04-10 11:01] dougmet commented on #35
![](https://github.trello.services/images/mini-trello-icon.png) [User story: Metadata fields](https://trello.com/c/Zadn1MyB/51-user-story-metadata-fields)

[2017-04-10 11:25] dougmet commented on #35
It does rather look like prose is setup for a key-value store when it comes to metadata.

Possibilities are:

1. Add three data sources with a common suffix in parameter names. Not elegant but fast to implement. Requires some update on the ruby side to roll up the data sources.
2. Fork prose and add the functionality we need. Elegant but more work. Requires running a [gateway](https://github.com/p

[2017-04-10 12:16] nathaneastwood commented on #26
No essentially someone can submit a change via prose.io which creates a PR. Until that PR is dealt with, someone else can come along and make a change to the data, submitting a second PR which may have merge clashes. So there are effectively two issues:

1. It is not clear when someone (yourself or another user) has already made a change.
2. It is not clear when your changes have actually been mad

[2017-04-10 13:08] dougmet commented on #26
OK sure. This is probably OK for in-house users as they will know to check the PR list and can have a conversation with the data manager(s).  Does Prose give a link to the PR when you submit changes? I don't want to make a PR just to check but will if necessary.

[2017-04-10 16:44] nathaneastwood commented on #26
No it doesn't. There is no warning that a PR has been made.

[2017-04-10 20:11] dougmet commented on #26
I'll add this issue to my "stuff we could do if we fork prose" list. I'm
sure you could use the github API to check for relevant PRs.

On Mon, 10 Apr 2017 at 17:44, Nathan Eastwood <notifications@github.com>
wrote:

No it doesn't. There is no warning that a PR has been made.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/datasci

[2017-04-12 11:54] dougmet opened #38 "Customise Prose"
Estimate: 15 days

As it stands prose.io serves most of our needs for managing data. However, we'd like to customise it. Prose is actually a fairly lightweight application and we could fork Prose and run our own version.  We'd need to run a gateway instance, which we can do on heroku for free. Our prose app itself would be hosted on GitHub pages. This ticket can serve as a feature list for what we

[2017-04-12 11:55] dougmet commented on #35
We will do 1 and then 2 later. See #38 for updates

[2017-04-12 11:55] #35 closed

[2017-04-12 11:56] dougmet commented on #34
See [indicator_14-1-1.csv](https://datasciencecampus.github.io/sdg-indicators/data/indicator_14-1-1.csv)

[2017-04-12 11:57] dougmet commented on #34
Fixed in f5c144d7b4c118eb9fa5de35fef945599c211776

[2017-04-12 11:57] #34 closed

[2017-04-12 12:01] dougmet opened #39 "Add new metadata fields"
- Add the new fields to prose configuration
- If necessary update old style metadata fields
- See trello for the required format
- Use flat data sources format with sensible suffix for the data source index (datasource_1 etc)

[2017-04-12 12:01] dougmet commented on #39
![](https://github.trello.services/images/mini-trello-icon.png) [User story: Metadata fields](https://trello.com/c/Zadn1MyB/51-user-story-metadata-fields)

[2017-04-12 13:34] dougmet opened #40 "Check csv data in travis build"
A script, probably a Ruby script, to run before the other website checks (for fastest possible feedback) will check the csvs match these rules:

- First column is `Year` with no missing values. All integers in a sensible range.
- Last column is `Value` which is allowed missing values. Numeric with no range checks.

For a future ticket also think about checking:

- Valid column names
- Category dat

[2017-04-12 14:25] dougmet commented on #40
Of course you'll have to convert *all* csvs to pass this test before you can deploy this.

This is looking really simple for a short ruby script.

[2017-04-12 14:27] dougmet commented on #39
Working in a personal fork to test this.

[2017-04-13 15:11] shaneporter commented on #29
The key point here is that the CSV will remain, since that should be available for download, but that there is no need to work with CSV when we can easily use the CSV's JSON equivalent.

[2017-04-18 16:27] dougmet opened #41 "Single disaggregation in visualisation"
Single dropdown that let's you go one disaggregation deep. This is the first user input to the visualisations.

[2017-04-18 16:28] dougmet opened #42 "Two dropdowns in disaggregation visualisation"
Allow two levels of disaggregation in the line chart.

[2017-04-18 16:29] dougmet commented on #19
Linking to #41 and #42

[2017-04-18 16:30] dougmet opened #43 "Table data matches plot data"
As the plot is updated the data table should update. These tables are too big to show in their entirety by default.

[2017-04-19 12:39] #40 closed

[2017-04-19 12:51] dougmet commented on #18
It's not simple to have variable data sources without creating our own prose fork. I've looked into that and it's not too bad. prose is a fairly simple node app and I've already tried setting up a gateway on heroku and it works. See #38

[2017-04-20 10:31] dougmet commented on #42
For this sprint we're not doing the combined disaggregation. So in our 14-1-1 example you can see `Planet` or `Fruit` but not `Plant AND Fruit`. Will make a ticket for a future sprint.

[2017-04-20 10:57] dougmet opened #47 "Correctly handle missing rows"
When there are missing rows in the data some of the Values are losing alignment with their correct year.

So the following data:

|Row | Year | Group | Value |
|:---|:----|:---|:------|
1 | 2010 | A |  2 |
|2 | 2011 | A |  3 |
|3 | 2012 | A | NA |
|4 |  2011 |   B  |  5 |
|5 | 2012  |  B  |  6|

Should become:

| Year |   A  |   B |
|:----|:---|:---|
| 2010 |  2  |   NA|
|2011 |  3 |    5|
|2012

[2017-04-20 10:58] dougmet commented on #47
See comment in #46 as well

[2017-04-20 11:11] dougmet commented on #43
Fixed by #46

[2017-04-20 11:11] #43 closed

[2017-04-20 11:11] dougmet commented on #42
Fixed by #46

[2017-04-20 11:11] #42 closed

[2017-04-20 11:12] dougmet commented on #41
Fixed by #46

[2017-04-20 11:12] #41 closed

[2017-04-20 11:12] dougmet commented on #29
Can this now be closed?

[2017-04-20 11:13] shaneporter commented on #29
Not yet. I will take a look at some point and close it.

[2017-04-20 11:18] dougmet commented on #19
We've deployed the first iteration of this with PR #46. We're using indicator 14-1-1 as a demo data set.

[2017-04-20 22:21] dougmet opened #50 "Should we build on Travis?"
master branch would become main branch. Travis would run jekyll build and push successful builds back to gh-pages.

Advantages:
- Allows to use more ruby libraries
- Allows more advanced data pre-processing with Ruby/Python/R whatever
- Pre-processing could be valuable for the front page "dashboard"

Disadvantages:
- Slightly harder for people wishing to copy the site (still free though)
- Will ta

[2017-04-24 08:26] #47 closed

[2017-04-24 08:47] #29 closed

[2017-04-24 09:16] dougmet commented on #39
Now only sources with the `source_active_{index}` field will show up. So the data format is flat on our side but the end website user should see it as nested.

[2017-04-24 12:57] dougmet commented on #50
This would also free us from the rigidity of the liquid template language. GitHub pages standard is to have all of the safe flags on and generally lock down. Travis does not worry about such things so building there would allow us to write more powerful code.

[2017-04-24 13:08] dougmet opened #54 "Admin users cannot use Prose"
For users *without* write access to the main repository prose works really well. You go to edit a file and then you actually edit that file in a fork of the repository. When you hit save a PR is made to the main repo. This is what we want.

If you have write access to the main repository then instead of making a fork prose attempts to commit directly to the main repository. This is not what we wan

[2017-04-24 13:18] dougmet opened #55 "Don't grant prose full permissions"
This isn't a change to the code on this website, more for how you set up prose to work with different organisations. I believe we currently grant the prose.io application access to all GitHub repos. Ideally we'd like to lock to down to only public repos (no need to go further as this is essentially the same access members of the public have).

There is discussion on this on the prose GitHub page h

[2017-04-24 13:20] dougmet commented on #55
OK, actually this is available on the main signup page. You just have to select the `repository access` dropdown below the authorise access. This is actually quite easy.

[2017-04-24 13:24] dougmet commented on #31
Make sure to mention that you don't need to give prose.io access to private repositories.

[2017-04-25 10:44] dougmet opened #56 "Emphasise National Level Indicator"
Part of #19

When we select groups we always retain the "All" group (which is the line we see by default when a page is loaded). We'd like to bring this line out a bit so that when there are lots of lines on the page the national level (all) indicator is prominent.

- Could be an increased line thickness?
- Could be that we use alpha on all of the other lines?
- Does Chart.js have a notion of whic

[2017-04-25 10:45] dougmet commented on #56
![](https://github.trello.services/images/mini-trello-icon.png) [User story: visualisations for disaggregations](https://trello.com/c/JhIe5TpX/50-user-story-visualisations-for-disaggregations)

[2017-04-25 17:02] dougmet opened #58 "Refactor metadata tables into an include"
This code has gotten too big. Add a single include to print a prose "scope" table, then call this multiple times with `[global, national, computation]`.

You'll need a different one for data sources. Data sources can go in their own tab

[2017-04-25 17:05] dougmet opened #59 "Enable the News"
This should just run like a normal Jekyll blog with posts. We should hook it up to prose though seeing as we're using it.

Estimate: 1 day

[2017-04-26 08:59] dougmet opened #61 "Validate metadata in travis build"
You can use Python or Ruby if you want.

The idea for this is that we want the metadata to stay clean so that it can be quickly transformed and either loaded into a database, or used in dashboard calculations. So we need to enforce rules on the data.

In the first instance we can check that dates are proper ISO 8601 formatted and URLs are valid URLs. It can be built upon as required.

Some of this

[2017-04-26 09:01] dougmet commented on #50
This would let us use Jekyll plugins to do various interesting things.

Momentum is swinging towards this. I will aim to make a prototype in my personal fork.

[2017-04-27 10:21] dougmet opened #62 "Collapsible metadata sections"
Top level "scopes" visible:

Global Metadata
National Metadata
Method of Computation

And then click to expand/collapse.

[2017-04-27 10:31] dougmet opened #63 "Pivot the breakdown data table"
As disaggregations are selected the data tables update. We'd like these data tables these should be pivoted so that groups go in the column headings.

[2017-04-27 10:33] dougmet opened #64 "Limit the precision of numbers in plot/table"
In the hover over we need to limit the rounding.

In the data tables we might want to limit the rounding

[2017-04-27 10:35] dougmet opened #65 "Active/Inactive flag for method of computation"
In fact for many scopes

[2017-04-27 10:54] dougmet opened #66 "Chart information"
Information that sits close to the chart. Ideally using chart.js footers and labels etc. The information are mostly already in the metadata.

Above chart:
- Chart title
- Geographic coverage
- Unit of measurement

Below chart:
- Source organisation(s) (check which field).

[2017-04-27 11:04] dougmet opened #67 "Chart style use fewer colours, more line styles"
See style guide (see link)
http://style.ons.gov.uk/category/data-visualisation/using-colours/#using-colour-in-line-charts

Aim is for colour on first group (check with grey scale) and line style for the second. Both for interaction when we do that.

[2017-04-27 11:10] dougmet opened #68 "Disagreggation Interactions"
If we have data for say Sex *and* Region then we don't see the data rows where *both* are present.

[2017-04-28 13:53] dougmet commented on #63
Doug to put an example here

[2017-04-28 13:59] dougmet commented on #64
Is this a problem with the real world data

[2017-04-28 14:12] dougmet commented on #68
Doug to provide example

[2017-05-02 08:58] shaneporter opened #69 "Technical - extract and tidy JS"
Move JS out of .html and into separate file(s).

[2017-05-03 11:08] dougmet commented on #58
Closed by #60

[2017-05-03 11:08] #58 closed

[2017-05-03 11:24] dougmet opened #74 "Validation mis-firing for some types of missing value"
A csv with missing values in the Value column seems to be breaking the build. An example that breaks:

[code]

I *think* it's when there is a space instead of fully empty.

[2017-05-03 13:22] #74 closed

[2017-05-03 13:54] #69 closed

[2017-05-03 15:23] dougmet commented on #63
Suppose a user has selected `Grade` and `Planet`. We should get the following outputs:

## All

| Year|   Value|
|----:|-------:|
| 2010| 15.1591|
| 2011| 16.3583|
| 2012| 16.2244|
| 2013| 14.3392|
| 2014| 15.7900|
| 2015| 14.0988|
| 2016| 15.5934|

Should we rename value to all? Well, for now just verify if we can rename it.

## Breakdown by Grade

| Year|       A|       B|
|----:|-------:|------

[2017-05-03 15:30] shaneporter commented on #63
Thank you - I like 'value as a replacement for 'all'. No strong feelings about using an underscore, but it's easily changed later.

[2017-05-04 09:46] dougmet commented on #68
This relates to #63 where I showed what the interaction data is. Below is what the data looks like in unpivoted form:

| Year|GradePlanet |   Value|
|----:|:-----------|-------:|
| 2010|A_Mercury   | 17.3458|
| 2010|A_Venus     | 13.3825|
| 2010|A_Earth     | 11.7802|
| 2010|B_Mercury   | 16.4394|
| 2010|B_Venus     | 16.5942|
| 2010|B_Earth     | 15.4127|
| 2011|A_Mercury   | 15.6690|
| 2011|A_Ve

[2017-05-04 09:51] #62 closed

[2017-05-04 11:55] dougmet opened #79 "Handle no matching data"
For some indicators we're getting impossible combinations. For example in 3-2-2 when you select `Area of residence` there is no data for area of residence on its own. It's always with a country. You get the following error:

[code]

Which I guess is because something came back empty

[2017-05-04 12:30] dougmet opened #80 "Update metadata fields from feedback"
- [x] Change Heading Text to: This table provides information on metadata for SDG indicators as defined by the UN Statistical Commission. Complete global metadata……is provided by the UN Statistics Division.
- [x] Remove preface of SDG before indicator name, number, target, global indicator etc
- [x] Need a Target Number field as per template, then change ‘Target Addressed’ to Target Name
- [x] Cha

[2017-05-04 12:36] dougmet commented on #80
![](https://github.trello.services/images/mini-trello-icon.png) [User story: Metadata fields](https://trello.com/c/Zadn1MyB/51-user-story-metadata-fields)

[2017-05-05 21:23] shaneporter commented on #68
This is handled by PR #63.

[2017-05-05 21:39] shaneporter commented on #56
Line thickness is a suggested fix for this and is part of PR #63.

[2017-05-06 14:32] #56 closed

[2017-05-06 14:32] #63 closed

[2017-05-06 14:32] #79 closed

[2017-05-06 14:32] #67 closed

[2017-05-08 06:47] MaxEngledew opened #87 "Scale Issue Indicator 3.2.1"
Hi Doug, the scale seems to be running from 2008-15 and then from 2000-07 (tick geography for a clear example of the issue) https://datasciencecampus.github.io/sdg-indicators/3-2-1/. Any idea what has gone wrong here?

[2017-05-08 08:37] dougmet commented on #87
That's a new one! So there is data for England & Wales before there is national level data but it's not being properly sorted by year. Any ideas @shaneporter? Happy to dig into the data model if you're busy on other things.

[2017-05-08 09:37] dougmet commented on #80
The Edit mode item is a bigger change to how we use prose. Will need to investigate or add it to #38

[2017-05-08 10:19] #87 closed

[2017-05-08 10:35] dougmet commented on #87
This is fixed. Hit <ctrl>-F5 to see the updated version

[2017-05-08 11:12] MaxEngledew commented on #87
Thanks both, there's likely going to be a few where a disaggregation begins before the headline so its great to get this sorted now!

[2017-05-08 11:51] dougmet commented on #87
Indeed, really value the testing!

[2017-05-08 11:52] dougmet commented on #87
At some point I think we're going to have to talk about the England-and-Wales problem. But let's continue with the small fixes first!

[2017-05-08 12:37] #80 closed

[2017-05-08 12:56] dougmet opened #96 "Format Metadata URLs"
Some of the URLs are very long and do not render nicely. We will need another metadata field: `source_url_text` that is the text to display and the in the code we have something like:

[code]

Of course this means we can't just loop through the table. Unless we use this format for *all* urls.

[2017-05-08 12:57] dougmet commented on #68
Shall we have a separate ticket for the plots? I'm happy with the implementation in the data tables

[2017-05-08 13:09] dougmet opened #97 "Format metadata numerator and denominator"
How can we style these to read more easily?

[2017-05-08 13:15] shaneporter commented on #97
Can you give an example @dougmet?

[2017-05-08 13:17] dougmet opened #98 "The England and Wales problem"
I'm creating this ticket as a central point of conversation.

Data that is "United Kingdom" has region removed and this is interpreted as the "All" field. For many of our indicators we only have data for England and Wales before 2008. This causes a few headaches for the disaggregation.

Questions:

1. How common is it that data is for England and Wales before 2008?
2. Are there any other high leve

[2017-05-08 13:25] dougmet commented on #97
An example of where the data is filled in is: https://datasciencecampus.github.io/sdg-indicators/8-2-1/ but I think we need more guidance before making a change. Is there an "on hold" label?

[2017-05-08 13:26] dougmet commented on #97
Under `Method of Computation`

[2017-05-08 13:28] shaneporter commented on #97
Thanks.

[2017-05-08 13:49] AlexLewis1 commented on #98
At the moment it is a bit to early for us to tell for how many indicators the data will just be for England and Wales before 2008. I can imagine there will be quite a few cases where the data will be just for England and Wales like in 3.2.2 where there is only disaggregation of the data available for England and Wales which we can put in the metadata but the average user may just take the graph at

[2017-05-08 13:57] MaxEngledew commented on #98
It is likely that, especially early in this process, a lot of data (not just pre 08) will be have England and Wales as the headline geographical coverage. This should be reflected in the "geographic coverage" section of the metadata. My, potentially incorrect assumption, is that "all" simply means the headline data for the indicator, so if we're consistently clear about what our headline "all" dat

[2017-05-08 15:21] dougmet commented on #98
OK, this is interesting. So we need a good language to talk about headlines and default views. As discussed in #90 it could be that we switch on certain disaggregations by default. In the case of 3.2.2 I wonder if it would be better to include a note somewhere that before 2008 it is England and Wales only, and then within the data reassign England and Wales to "All" (blank).

[2017-05-09 06:56] MaxEngledew commented on #98
We don't use England and Wales pre 2008 and UK post 2008 - they are separate figures with minute differences. England and Wales does continue beyond 2008, it's just hard to see as it is very closely aligned with the UK figures. For example in 2009 England and wales = 5.19 and UK = 5.18 if we were to use that note would we not loose post 08 England and Wales figures?

[2017-05-09 12:41] dougmet commented on #98
Yes we would lose it. OK, I think this is big enough to warrant bigger discussion this week

[2017-05-09 13:22] MaxEngledew opened #103 "2.a.2 Disaggregation not showing"
This indicator has 236 separate values and at the moment only 15 are visible (the 4 headline, and the headline by ODA type). The Aid Broad Category Description (DAC 5 Code) and Aid Description (CRS Code) aren't showing.

Could this be where with have a 2 tiers of disaggregation limit? The trouble is that if a value has a CRS Code it then has a broader DAC 5 Code, and then an ODA type. I might have

[2017-05-09 14:36] dougmet commented on #103
Hi Max, yes it looks like it's because of the high level of nesting. You'd need three boxes checked to see most of this data set (which we currently block). There's no formal limit of the number groups within a disaggregation.

Data of this form was not something we originally considered but it seems to be quite common so we may need to come up with a plan. Filters might fix it.

[2017-05-09 16:32] nathaneastwood commented on #96
@AnnCorp requested that we look at this in this sprint if possibly?

[2017-05-09 16:42] dougmet commented on #96
Right-oh.

[2017-05-09 23:02] #96 closed

[2017-05-09 23:17] dougmet opened #105 "Cannot edit metadata in prose"
At some point in the last day or two you (doug) have broken the prose configuration. When you click on edit metadata the prose page throws a javascript error and does not load.

Recommend rolling back in a fork (because you cannot test this locally) and stepping through the changes until you find it 😞

[2017-05-09 23:18] dougmet commented on #105
This is from dff5551b0b330 onwards. Before that it was fine.

[2017-05-10 07:35] MaxEngledew commented on #103
Yes, unfortunately at the very least all of the overseas development aid indicators (10-20) will likely be a similar format. Interested to see what this means going forward!

[2017-05-10 07:59] AlexLewis1 opened #106 "Metadata not showing"
Doug has told me that I have been updating the metadata in the raw metadata section instead of the metadata fields. The indicators that I have done this for are 8.1.1, 8.2.1, 8.b.1 and 3.2.2. I'll move these around as soon as I can.

[2017-05-10 09:47] dougmet commented on #105
You broke it in dff5551b0b330ea5d4f72a3d6a7dce390b154419

[2017-05-10 09:52] dougmet commented on #105
This was due to duplicated field names in the prose configuration. I think it would be a really good idea to add this to the metadata checking in #61. Fixed by ae2e8dc6ebbddc8dbefbeec70f5650f436b3a61b

[2017-05-10 09:52] #105 closed

[2017-05-10 09:59] dougmet opened #107 "Disaggregation Interactions in the Plot"
The data model already has the interaction. See #68 . This is where, for example, we have data for say Sex and Region then we don't see the data rows where both are present.

Somehow we'd like to have the interaction data on the plot. This is potentially a **lot** of data for a plot. We may need some sort of filter applied first, or an option to toggle between separate breakdowns or interactions.

[2017-05-10 09:59] dougmet commented on #68
See #107 for the plot version

[2017-05-10 09:59] #68 closed

[2017-05-10 10:29] nathaneastwood opened #108 "Method of computation needs to move"
This relates to the national indicator but where it currently sits makes it look as though it's a global method.

Possibly just reorder the metadata to be: National, Method of Computation, Global

[2017-05-10 10:30] nathaneastwood opened #109 "Sources includes a default link"
The sources tab includes a default Link hyperlink where it shouldn't

[2017-05-10 10:32] nathaneastwood opened #110 "Reporting status - Coming in Spring 2017"
Text needs updating. Maybe to Summer 2017?

[2017-05-10 10:40] dougmet commented on #61
As mentioned in #105 need to check _config.yml as well

[2017-05-10 10:44] nathaneastwood opened #111 "Chart option "All" should be changed"
This should be more explicit, e.g. "UK", essentially it should be the top geographical level. This would possibly need to be a variable such that other countries forking this repo wouldn't see "UK".

[2017-05-10 10:46] shaneporter commented on #110
Southern hemisphere or northern hemisphere? ;)

[2017-05-10 11:02] nathaneastwood opened #112 "Data source should be included with the chart"
This is so that people don't have to go looking for the source in another part of the page.

Other metadata may need to be added too (see user story on Trello). For example, we should be able to pick out key information for things such as axis labels and unit of measurement.

[2017-05-10 11:03] nathaneastwood commented on #112
![](https://github.trello.services/images/mini-trello-icon.png) [User story: chart standards](https://trello.com/c/CgeEcfVR/60-user-story-chart-standards)

[2017-05-10 11:04] nathaneastwood commented on #112
Other metadata may need to be added too (see user story on Trello)

[2017-05-10 11:05] nathaneastwood commented on #112
We should be able to pick out key information for things such as axis labels and unit of measurement.

[2017-05-10 11:13] nathaneastwood opened #113 "Key metadata should be displayed more prominently"
One possibility is to add key information where the current red box is (above the chart)

[2017-05-10 11:14] nathaneastwood opened #114 "Add alpha logo"
The GDS are currently using an alpha logo on one of their websites and we should be using something similar. This would replace (or compliment?) the message displayed in the red box.

@AnnCorp do you have a link?

[2017-05-10 11:15] nathaneastwood commented on #110
Closed as of 1ee8d24981957969d335d75f195fa2bcbc50ea5c

[2017-05-10 11:15] #110 closed

[2017-05-10 11:17] shaneporter commented on #110
Is it closed because that page now shows the 'This is a development website for collecting and disseminating UK data for the Sustainable Development Goal global indicators. Currently data on the site may be test data. Please send any feedback to sustainabledevelopment@ons.gov.uk' disclaimer?

[2017-05-10 11:24] nathaneastwood opened #115 "Links should have a different default to be more explicit"
Where the links just say "Link", this needs to change for screen readers

[2017-05-10 12:11] nathaneastwood commented on #110
Well we now have a reporting status page :D and it doesn't have the text there anymore 👍

[2017-05-10 12:25] #39 closed

[2017-05-10 12:52] nathaneastwood opened #116 "Improve home page UI"
The following have been agreed for the homepage:

- [x] Add some kind of visual hover when users mouseover the Goal images
- [x] Add some white space around each of the Goal images

[2017-05-10 13:02] dougmet opened #117 "Shorten and move disclaimer notice"
- [x] Change text to `This is a development website and data may be test data. We welcome your <a href = "mailto:sustainabledevelopment@ons.gov.uk">feedback</a>`
- [x] [Add alpha logo](https://www.gov.uk/service-manual/design/alpha-and-beta-phase-banners)
- [x] Move to top (like USA version https://gsa.github.io/sdg-indicators/)

[2017-05-10 13:04] nathaneastwood commented on #114
[This link](https://www.gov.uk/service-manual/design/alpha-and-beta-phase-banners) is an example of what we need to us.

[2017-05-10 13:05] #114 closed

[2017-05-10 14:08] shaneporter commented on #114
It's my understanding that the 'alpha' software development phase relates to the feature set of the software, and that the software may be buggy as hell. It does not relate to the data.

Therefore, it makes sense to have both, no?

[2017-05-10 14:13] shaneporter commented on #116
Touch users don't hover. So, as long as it's understood that this shouldn't provide essential feature, then so be it.

I quite like the no-whitespace, tiled aspect of the goal images since it has harmony with the banner border

![image](https://cloud.githubusercontent.com/assets/2493614/25902974/feae20cc-3592-11e7-96d0-b316bfc5309d.png)

[2017-05-10 14:17] dougmet commented on #113
We can do this with a new metadata scope.

[2017-05-10 14:25] nathaneastwood commented on #114
@dougmet any thoughts on this? I think we are going for both?

[2017-05-10 14:32] nathaneastwood commented on #116
@AnnCorp and @nirenbasu - @shaneporter makes a good point. Mobile (or touch) users will not have that hover option so won't make it any more obvious you can click on the tiles.

[2017-05-10 14:42] shaneporter commented on #116
The US uses an instruction to help:

[2017-05-11 07:57] AnnCorp commented on #114
Yes, we are doing both. Think this one isa dupe ticket for the one Doug set up which has the text re test data too.

[2017-05-11 08:00] AnnCorp commented on #116
@nirenbasu best to comment on this I think.  Niren is doing user testing today so could see what feedback get out of that?

[2017-05-11 08:21] shaneporter commented on #114
Both are implemented in PR #120.

[2017-05-11 08:23] shaneporter commented on #116
Following a review from @dougmet, some changes will be pushed that address the comments in the opening issue comments made by @nathaneastwood.

[2017-05-11 08:25] #117 closed

[2017-05-11 09:46] #116 closed

[2017-05-11 10:25] shaneporter opened #123 "Supported browsers"
I'm taking a look at a couple of things, and being mindful of the browsers that the website is intended to support. I have found the 'Browsers to test in' section on the Government Digital Service's '[Designing for different browsers and devices](https://www.gov.uk/service-manual/technology/designing-for-different-browsers-and-devices)' page.

Is this what we're aiming for?

Estimate: 1 hour

[2017-05-11 15:22] dougmet opened #124 "Generate Hierachical Test Data"
The data sets that we have are more hierachical than initially expected. See
[2-a-2](https://datasciencecampus.github.io/sdg-indicators/2-a-2/) as an example. Here CRS code is a sub group of DAC code.

A more generic example. In our test data we could have:

So for example `planet -> continent`

But those continents are children of the parent category, `planet`. We're going to try to detect this h

[2017-05-12 08:27] shaneporter commented on #64
Do we know the answer to your question @dougmet? What are we typically seeing for data-related PRs?

[2017-05-12 08:45] shaneporter commented on #112
So the key points from ![](https://github.trello.services/images/mini-trello-icon.png) [User story: chart standards](https://trello.com/c/CgeEcfVR/60-user-story-chart-standards) are:

1. Have a title describing the chart
2. Clearly show the period(s) the data covers
3. Show the geographical coverage
4. Show the unit of measurement
5. Show the data source(s)

@dougmet:
numbers 3 and 5 - are they in

[2017-05-12 09:41] dougmet commented on #112
3. This is in the source metadata: source_geographical_coverage_1 but is often a long string

5. I think data source will be the source organisation. Use `source_organisation_1` from the metadata.

[2017-05-12 10:11] shaneporter commented on #64
Thanks - I'll go with that.

[2017-05-12 10:20] dougmet commented on #64
Does javascript have the equivalent of this:
[code]

[2017-05-12 10:21] dougmet commented on #64
Actually that's just significant figures

[2017-05-12 10:27] shaneporter commented on #64
I'll most likely have to do a test on the value of the number, and conditionally apply a function:
[code]

[code]

[2017-05-12 10:33] dougmet commented on #64
So that seems like ideal behaviour. Is that a hassle?

[2017-05-12 10:36] shaneporter commented on #64
It's a pleasure, @dougmet :smile:

[2017-05-12 10:46] dougmet commented on #111
We do have that variable. It's `{{ site.country.name }}` and it's set in the jekyll config file

[2017-05-12 11:18] shaneporter commented on #111
PR #126.

[2017-05-12 12:52] #111 closed

[2017-05-12 12:53] #108 closed

[2017-05-12 13:43] dougmet commented on #112
Hi @AnnCorp is this a good example for us to use as a guide? https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/timeseries/lf24/lms

[2017-05-12 15:36] dougmet commented on #124
PR #127

[2017-05-12 15:39] dougmet commented on #124
![](https://github.trello.services/images/mini-trello-icon.png) [User Story: Support Hierachical Data](https://trello.com/c/MepQAuDo/65-user-story-support-hierachical-data)

[2017-05-12 15:45] dougmet opened #128 "Detect Parent Child Relationships"
For a first pass we're specifying the dependency tree manually. Explore detecting parent child relationships automatically. In the first instance use a language of your choice. If it's simple enough to translate to JS then we can, otherwise it will be part of the build.

[2017-05-12 15:46] dougmet commented on #128
![](https://github.trello.services/images/mini-trello-icon.png) [User Story: Support Hierachical Data](https://trello.com/c/MepQAuDo/65-user-story-support-hierachical-data)

[2017-05-12 16:07] dougmet opened #129 "Support generic filtering"
Estimate: TBC

This ticket is for the first pass at supporting generalised filtering. Right now we can select up to two columns (groupings) and this applies a filter that these columns must be _not missing_. However, we need to support deeper levels of drilling down. So filtering to a single region, or .

We also need to support hierarchical data, such as that in 2-a-2 or now in 14-1-1 #124 where

[2017-05-12 16:11] dougmet commented on #129
![](https://github.trello.services/images/mini-trello-icon.png) [User Story: Support Hierachical Data](https://trello.com/c/MepQAuDo/65-user-story-support-hierachical-data)

[2017-05-12 16:25] dougmet commented on #112
I also see that geographical coverage is in the main metadata: `national_geographical_coverage` which may be the better choice.

[2017-05-13 07:51] #124 closed

[2017-05-13 13:20] shaneporter commented on #64
In fact, I think this ONS '[Effective rounding](https://style.ons.gov.uk/data-visualisation/tables/number-rounding/)' advice is what I should be doing.

I found it after I found some of my interim solutions, based on a range of numbers, to be insufficient.

[2017-05-13 13:30] nathaneastwood opened #131 "Table headers are out of line"
For some reason the table headers are no longer above their respective columns and are instead left aligned. I'm using Chrome 57.0.2987.133

<img width="655" alt="screen shot 2017-05-13 at 14 29 41" src="https://cloud.githubusercontent.com/assets/9799530/26025866/a4510f24-37e8-11e7-8955-f74eed5b93a0.png">

[2017-05-13 14:59] shaneporter commented on #131
Is OK for me on 58.0.3029.110 (64-bit) - is that happening on all indicators' tables @nathaneastwood? Is it happening at a particular viewport width? Has it _just_ started happening, or can you pinpoint a version when things went awry? I did make some changes to the the headings/table widths about a week ago, so that may be the reason.

Trying to get as much info so I can investigate. Thanks!

[2017-05-13 15:03] nathaneastwood commented on #131
I can't seem to replicate this now. Maybe it was just a loading error? It had only just started happening.

[2017-05-13 15:32] shaneporter commented on #131
Oh OK. I have seen that issue, on my way to making some table changes, but resolved it.

[2017-05-13 15:32] #131 closed

[2017-05-15 08:54] dougmet commented on #64
The ONS guidelines look great. For this first pass it's probably more effort than we want. In fact I wonder if a general purpose library on datasciencecampus would be useful, @nathaneastwood ? Or maybe there's already something on ONSdigital?

Either way. Let's go with significant figures for now. Let's say 3 unless it looks silly.

[2017-05-15 12:20] nathaneastwood commented on #64
Yes there is possibly something on ONSdigital, but otherwise I can create a general purpose repo on datasciencecampus for you if you like.

[2017-05-15 13:06] dougmet commented on #64
Not urgent. Just thought it might be reusable so we should avoid just putting it in here.

[2017-05-15 13:46] #64 closed

[2017-05-16 12:19] AlexLewis1 opened #134 "Prose metadata fields"
Just a couple things I've noticed in the metadata section that could use a bit of tweaking; 'Other information' needs to be changed to source metadata, we need a definitions section in method of computation and the release date of the data source needs to be able to hold values like February to March 2018.

[2017-05-17 09:22] dougmet commented on #134
Sounds OK. The date fields are currently just free text so you should be able to put in things like February to March 2018 as it stands (I didn't get around to putting in a hard check against that yet)

- [ ] Move `Other Information` to `source` scope
- [ ] Add definitions section to `computation` scope

[2017-05-17 09:54] AlexLewis1 commented on #134
Ah okay, I thought prose would throw that back at me, that'll be fine.

[2017-05-17 11:25] dougmet commented on #98
I'm going to take this out of the sprint because it is downstream of #129 or at least it's a bit too vague for an action.

[2017-05-17 11:25] dougmet commented on #103
Directly relates to #129

[2017-05-17 12:58] nathaneastwood commented on #112
Can we close this issue now @shaneporter?

[2017-05-17 13:28] #112 closed

[2017-05-17 13:39] nathaneastwood commented on #129
This should be detailed in the Wiki

[2017-05-17 15:14] dougmet commented on #129
I'll try to put a draft in place before this sprint end.

[2017-05-18 08:19] dougmet opened #136 "Add footnotes [1.5 hours]"
Some data is based on financial year, so runs April Year1 - March Year2. The `Year` column in our csvs needs to be numeric right now. We have a few of options:

- Add a footnote field to appear by the plot and the tables
- Add a simple "Financial Years" check box so that we can style it appropriately
- Support ordered non-numeric keys

Estimate: 1.5 hours

[2017-05-18 09:24] shaneporter opened #137 "Lots of disaggregations cause plot/info overlap"
![image](https://cloud.githubusercontent.com/assets/2493614/26195554/19f5a7a2-3bb4-11e7-994c-831543da15cb.png)

[2017-05-18 11:56] MaxEngledew opened #143 "Outdated Indicators"
Attached is an xls with the additional, revised, and removed indicators which need updating on the tool.

[Indicator Updates (22.03.17).xlsx](https://github.com/datasciencecampus/sdg-indicators/files/1010752/Indicator.Updates.22.03.17.xlsx)

Estimate: 2 hours

[2017-05-18 15:14] #137 closed

[2017-05-18 15:20] dougmet commented on #143
So 2.b.1 needs completely removing and the rest just need updating. Sound right?

[2017-05-18 15:21] dougmet commented on #143
Oh, and add some new ones. `1.5.4` , `1.a.3`, `3.b.3`, and  `13.1.3`

[2017-05-19 05:48] MaxEngledew commented on #143
That is correct, and the current 2.b.2 will become 2.b.1.

[2017-05-19 13:27] nathaneastwood commented on #123
@AnnCorp can you comment on this?

[2017-05-19 13:29] nathaneastwood commented on #50
Travis allows you to build, test and deploy to various different services, including [GitHub Pages](https://docs.travis-ci.com/user/deployment/pages/). I have used this successfully on the [coding-standards](https://github.com/datasciencecampus/coding-standards/blob/master/.travis.yml) repo.

[2017-05-19 13:57] nathaneastwood commented on #31
[This is now included in the Wiki](https://github.com/datasciencecampus/sdg-indicators/wiki/How-to-recreate-this-website-for-your-country)

[2017-05-19 13:57] #31 closed

[2017-05-19 13:59] nathaneastwood opened #144 "Write a script to reset the website for a new country"
The list of things to reset are listed [in the wiki](https://github.com/datasciencecampus/sdg-indicators/wiki/How-to-recreate-this-website-for-your-country).

Ideally I would say this should be done in Python as it is more common to different OSs and keeps requirements for the project down.

[2017-05-22 12:42] MaxEngledew opened #145 "Minus values not showing (8.1.1)"
Just noticed that the 2008 and 2009 data points aren't appearing on the graph - they are both minus values.

https://datasciencecampus.github.io/sdg-indicators/8-1-1/

[2017-05-24 09:27] #145 closed

[2017-05-24 09:29] AlexLewis1 opened #149 "We need a definitions section in the method of computation dropdown"

[2017-05-24 10:32] nathaneastwood opened #151 "Navigation improvements"
The following improvements were identified from user testing.

- [ ] We need a search function to search for specific indicators
- [ ] When on an indicator page, the indicator number and title (in the coloured bar at the top) should be more prominent than the goal number and title
- [ ] On the indicator selection page, the indicator number and title should be together. It otherwise implies they ar

[2017-05-24 10:34] nathaneastwood commented on #66
Can we close this issue now @dougmet and @shaneporter?

[2017-05-24 10:35] shaneporter commented on #66
I'd say so. This work has been done, and any issues can be raised against what I've done.

[2017-05-24 10:35] #66 closed

[2017-05-24 11:04] nathaneastwood opened #152 "Further chart improvements"
From the user testing, further improvements were identified to make the charts better.

Must:
- [ ] It is difficult to distinguish between the colours on the chart. One suggestion is to increase the contrast between the lines, another is to make the colours blue and grey with the "All" line in red
- [ ] Legends should be filled rather than hollow
- [ ] The title, source and geographical area shoul

[2017-05-24 11:07] shaneporter commented on #152
Can we separate this list into separate issues? There's quite a lot going on. In particular, the last issue is a lot more work and its continued discussion/implementation would cloud the status of the other issues somewhat.

[2017-05-24 11:07] nathaneastwood opened #153 "Table improvements"
Table improvements were identified from the user testing:

- [ ] The unit of measurement is missing from the tables
- [ ] The ONS standard is to have the "Download" button underneath the tables
- [ ] Place the "DOWNLOAD SOURCE CSV" button at the top, above all tables.
- [ ] The "DOWNLOAD SOURCE CSV" button should be renamed. It should be something more along the lines of "Download all indicator da

[2017-05-24 11:44] #149 closed

[2017-05-24 12:50] nathaneastwood commented on #115
Duplicate of #109

[2017-05-24 12:50] #115 closed

[2017-05-24 12:56] nathaneastwood commented on #136
This is not just for financial years. We just need a "footnote" field that can include any kind of text. There can be more than one footnote - this should be a fillable box in Prose.

[2017-05-24 12:57] nathaneastwood commented on #123
Anything considered in the GDS should be supported.

[2017-05-24 13:04] nathaneastwood commented on #65
Changes to the method of computation are also discussed in #151

[2017-05-24 13:06] nathaneastwood commented on #21
These issues are relevant to #151

[2017-05-24 13:07] #21 closed

[2017-05-24 13:08] nathaneastwood commented on #19
Superseded by #152

[2017-05-24 13:08] #19 closed

[2017-05-24 13:09] nathaneastwood commented on #18
This is done.

[2017-05-24 13:09] #18 closed

[2017-05-24 13:10] nathaneastwood opened #155 ""UN Custodial Agency" should say "UN Custodian Agency" in the Global Metadata"
As title states.

[2017-05-24 13:13] nathaneastwood commented on #152
Re: increasing the height of the graphic:
One suggestion is to make the logo smaller permanently instead of when the user scrolls down. This will give us more vertical space to work with.

[2017-06-07 08:23] nathaneastwood opened #160 "Update the LICENSE file"
We should be using the Open Government License v3

[2017-06-07 11:06] dougmet commented on #160
Just to check. Does this sit OK with the CC0 license that the US have? I think we can do that but I'm just checking seeing as we've built on their work.

[2017-06-07 11:10] nathaneastwood commented on #160
Well whilst I agree we need to check, I would argue the work has diverged enough?

[2017-06-07 12:31] dougmet commented on #160
Probably, yes. We could have a custom license which acknowledges we forked from the US version and print their license and link to their development page.

(btw there's a parallel discussion on the PR)

[2017-06-07 12:31] dougmet commented on #160
My main concern is violating CC0 so we should check it. It's possibly the most permissive license going so we're probably OK

[2017-06-07 12:35] nathaneastwood commented on #160
With regards to this question, when it comes to ONS "stuff", we must use OGL-3 unless it is simply code in which case we are allowed to use MIT.

[2017-06-07 13:07] #160 closed

[2017-06-08 07:12] MaxEngledew opened #165 "Graph title is not changing with prose"
![capture](https://user-images.githubusercontent.com/24583650/26916285-a8ed67f6-4c21-11e7-9182-384e9f701567.PNG)

We seem to still have a U.S. graph title despite changing the field to "Mortality rate for infants and children younger than 5 years old per 1,000 live births" in prose. This only seems to have changed the table title (example: https://datasciencecampus.github.io/sdg-indicators/3-2-1/)

[2017-06-08 08:49] nathaneastwood commented on #165
Hi @MaxEngledew this seems to do with the metadata. For this particular indicator, the metadata states:

[code]

[2017-06-08 10:44] nathaneastwood commented on #165
I have resolved this myself

[2017-06-08 10:44] #165 closed

[2017-06-08 11:25] MaxEngledew opened #166 "Prose Error"
Trying to update metadata and getting this error on attempts to commit:

We can't make sense of this!

[2017-06-08 11:47] dougmet commented on #166
I think this may be to do with your new write permissions. Am discussing with @nathaneastwood

[2017-06-08 11:48] dougmet commented on #165
I think we need to start making it clear which bits of metadata will change what. We can rename and add new ones if necessary.

[2017-06-08 11:52] nathaneastwood commented on #165
@dougmet this stuff needs to go in a Wiki. I will be in the office next Friday and we can discuss/document it then maybe?

[2017-06-08 11:55] MaxEngledew commented on #165
That would be really helpful. From what I can tell:

"Graph Title", which is hidden all the way down under source 3, changes the table title but not the graph. Surely these should both be fed in from the same field?

"Actual Indicator Available" prose field doesn't seem to feed into the raw metadata "actual_indicator_available: >-" which, in turn, changes the graph title.

[2017-06-12 12:12] dougmet commented on #128
Closing as @shaneporter  is managing this entirely in the front end.

[2017-06-12 12:12] #128 closed

[2017-06-12 12:36] dougmet commented on #136
What do we think. Is this a `computation` option? I'll start with that but if people want to move it to the chart options then we can do that too

[2017-06-12 12:36] #134 closed

[2017-06-12 13:33] dougmet commented on #143
I'm working through these but started to worry when I hit 3.8.2. The indicator looks very different but I can't find any other related metadata online. Has it really been updated or should we hold off?

[2017-06-12 13:33] dougmet commented on #143
I'm working on branch ` e/outdated-indicators-143`

[2017-06-12 13:42] #155 closed

[2017-06-12 13:45] dougmet commented on #143
https://sustainabledevelopment.un.org/sdg3

[2017-06-13 13:44] AlexLewis1 commented on #143
Hi Doug, no need to worry you can find the latest list through the following link: https://unstats.un.org/sdgs/indicators/indicators-list/

[2017-06-15 08:45] #109 closed

[2017-06-21 12:02] nathaneastwood opened #177 "Area for non-standard information [estimate 1hrs]"
We need somewhere where we can include information on, for example:

  1. Non-statistical indicators
  2. UN data as a proxy

This needs to take precedence at the top of an indicator's page as the data cannot be hidden away in the metadata.

Tasks remaining:

- [x] Style the table (add padding)
- [x] Add section separator (or padding)
- [x] Add a wiki entry for how to use this

Estimate: 1 hours

[2017-06-21 13:23] nathaneastwood opened #179 "Add more method of computation metadata fields"
Some indicators will have more than one headline. For example, 9.2.1 has two headlines: Per Capita and Percentage of GDP. We need something similar to the source tab where we can have `source_text_1`, `source_text_2`, etc. but for method of computation.

[2017-06-22 08:46] shaneporter opened #181 "Chart colours should have greater contrast"
It is difficult to distinguish between the colours on the chart. One suggestion is to increase the contrast between the lines, another is to make the colours blue and grey with the "All" line in red

(from #152)

Estimate: 4 hours

[2017-06-22 08:47] shaneporter opened #182 "Chart legend should be filled"
(from #152)

[2017-06-22 08:47] shaneporter opened #183 "The title, source and geographical area should be left aligned to the chart"
(from #152)

[2017-06-22 08:48] shaneporter opened #184 "Increase chart height"
The height of the chart needs to be increased. Currently it looks squished and makes it difficult to distinguish between different lines.

(from #152)

[2017-06-22 08:48] shaneporter opened #185 "Chart - add unit of measurement"
Add the unit of measurement as a subtitle

(from #152)

Estimate: 30 minutes

[2017-06-22 08:49] shaneporter opened #186 "Chart tooltip should be more concise"
On the tooltip, we should have (as an example) "Northern Ireland" as opposed to "Geographical Coverage Northern Ireland"

(from #152)

[2017-06-22 08:50] shaneporter opened #187 "Chart zooming [estimate 2 days]"
Is it possible to have zoom functionality on the chart to more easily identify individual points?

(from #152)

Estimate: 2 days

[2017-06-22 08:51] shaneporter commented on #152
I've split this issue into several new ones: #181, #182, #183, #183, #184, #185, #186, #187
Closing this one.

[2017-06-22 08:51] #152 closed

[2017-06-23 13:38] shaneporter commented on #184
The user must be able to see the entirety of the chart on the screen, so a hard-coded value won't work here. I'll go for a `get screen height` and compare to a sensible maximum, and use the smallest of the two.

[2017-06-23 14:04] shaneporter commented on #184
My sensible maximum has been defined as 750 pixels (which will equate to a 730 pixel chart height because of padding).

This is actually quite large, when you consider that the fixed header is competing for space. I grab the screen height and do a minimum.

Fixed in b9355487246d.

[2017-06-27 06:34] shaneporter commented on #181
Agreed that colours should have greater contrast, and making the 'all' line in red is a quick change.

However, with only a few disaggregations, there will be large number of lines. I'm wondering whether variants of blue and grey will suffice.

What other colours can we use, after blue and grey?

[2017-06-28 15:37] shaneporter opened #192 "Clear selections"
The user can clear disaggregation selections manually, but it would be beneficial to introduce a 'clear selections' button that will clear all immediately.

[2017-06-29 08:20] MaxEngledew opened #197 "X axis scaling (in addition to existing Y axis scaling)"
Similar to #187, it would be helpful for the X axis to scale according to disaggregation selections. For example (https://datasciencecampus.github.io/sdg-indicators/3-a-1/) if I selected highest qualification level, and removed the UK line, would if be possible for the X axis min-max to automatically adjust to 2014-16?

Estimate: 4 hours

[2017-06-29 11:55] MaxEngledew opened #201 "Graph key can be hard to read"
I'm wondering if the key might be better if it didn't display the disaggregation category name e.g. "Bilateral" instead of "Flow of Overseas Development Assistance Bilateral" (https://datasciencecampus.github.io/sdg-indicators/3-b-2/), which is a mouthful!

Alternatively, because it might result unclear distinction between variables for different disaggregation categories, could we add a colon or

[2017-06-29 11:56] MaxEngledew commented on #201
Side note - Alex and I can no longer label issues

[2017-06-29 12:21] nathaneastwood commented on #144
Closed by #189

[2017-06-29 12:21] #144 closed

[2017-06-29 12:37] nathaneastwood opened #202 "The unit of measurement is missing from the tables"
The can be inferred from the metadata

Estimate: 30 minutes

[2017-06-29 12:37] nathaneastwood opened #203 "Move the download buttons"
The ONS standard is to have the "Download" button underneath the tables.

We should also place the "DOWNLOAD SOURCE CSV" button at the top, above all tables.

[2017-06-29 12:38] nathaneastwood opened #204 "Rename download source button"
The "DOWNLOAD SOURCE CSV" button should be renamed. It should be something more along the lines of "Download all indicator data: [CSV]" where [CSV] is the button.

[2017-06-29 12:39] nathaneastwood commented on #153
These have been split out into #202, #203 and #204.

[2017-06-29 12:39] #153 closed

[2017-06-29 12:39] nathaneastwood opened #205 "Add search functionality"
We need a search function to search for specific indicators

[2017-06-29 12:40] nathaneastwood opened #206 "Make the indicator number and title bigger"
When on an indicator page, the indicator number and title (in the coloured bar at the top) should be more prominent than the goal number and title

Estimate: 15 mins

[2017-06-29 12:41] nathaneastwood opened #207 "Merge indicator numbers and descriptions"
On the indicator selection page, the indicator number and title should be together. It otherwise implies they are separate things.

Estimate: 0

[2017-06-29 12:41] nathaneastwood opened #208 "Rename Statistics tab"
In the navigation tabs at the top, rename "Statistics" as "Goals"

[2017-06-29 12:41] nathaneastwood opened #209 "Add a home page"
Details to be provided by @AnnCorp

[2017-06-29 12:42] nathaneastwood opened #210 "Move indicator contact details from Sources to Metadata [1 hour]"
"Contact Details" in the National Metadata section should go into "Sources"

Estimate: 1 hour

[2017-06-29 12:42] nathaneastwood opened #211 "Rename method of computation"
Rename "Method of Computation" as "How the indicator is calculated". This will be more understandable for people.

Estimate: 15 minutes

[2017-06-29 12:43] nathaneastwood opened #212 "Move method of computation"
Move the "Method of Computation" back into "National Metadata". Possibly indent the information that comes under the headline "Method of Computation" ("How the indicator is calculated")

Estimate: 15 minutes if no indent

[2017-06-29 12:44] nathaneastwood commented on #151
These have been split out into #205, #206, #207, #208, #209, #210, #211 and #212

[2017-06-29 12:44] #151 closed

[2017-06-29 12:45] nathaneastwood commented on #179
One idea for indicators like this is to give them separate pages. @AlexLewis1 and @MaxEngledew to raise at the next sprint meeting.

[2017-06-29 12:50] nathaneastwood commented on #113
This is essentially a duplicate of #177

[2017-06-29 12:50] #113 closed

[2017-06-29 12:51] nathaneastwood commented on #106
@AlexLewis1 have you managed to do this?

[2017-06-29 12:52] nathaneastwood commented on #107
This is linked to #129

[2017-06-29 13:10] shaneporter commented on #204
I'm not sure I follow @nathaneastwood - what should the text on the button be? I'm confused by the

comment.

[2017-06-29 13:30] nathaneastwood commented on #204
So the button should just have "CSV" written on it. Take this [link](https://www.ons.gov.uk/peoplepopulationandcommunity/healthandsocialcare/healthinequalities/articles/healthrelatedlifestylesandwidercharacteristicsofpeoplelivinginareaswiththehighestorlowesthealthylife/june2017) as an example.

[2017-06-29 13:52] shaneporter commented on #204
Thanks. So doing a quick devtools edit on that page, you get something like:

![image](https://user-images.githubusercontent.com/2493614/27690952-93f1952e-5cda-11e7-9127-048cf75a5873.png)

[2017-06-29 14:07] nathaneastwood commented on #204
Exactly that :) sorry, should have posted that myself really

[2017-06-29 14:20] shaneporter commented on #204
No worries @nathaneastwood

[2017-06-29 14:45] shaneporter commented on #207
I really disagree about this one.

Numbered lists are a common, recognisable feature of written communication, and although the text and number are separated by a visual break, they are still visually associated, particularly when each row's list items are equal in height.

[2017-06-29 15:01] nathaneastwood commented on #207
I'm personally in agreement with you @shaneporter. @AnnCorp is this definitely something we wish to change?

[2017-07-04 12:07] AnnCorp commented on #209
Think could very briefly discuss this tomorrow at end of show and tell and if run out of time I'll discuss with SDGs team.  Currently unlikely would have the resource to maintain a home page in the way Niren described it.

[2017-07-04 12:12] AnnCorp commented on #207
Think need to consider in tandem with if we're having a mega menu running off 'Statistics' (suggested by Niren) so have some consistency. Suggest we talk through at end of Show and Tell if time or in separate catchup.

[2017-07-05 11:42] nathaneastwood opened #223 "Multiple units of measure"
We need separate pages for 9.2.1 per capita and 9.2.1 % of GDP

Estimate: 6 hours

This estimate is based on a bespoke fix where `Units` is a special column name that indicates multiple datasets in one csv.

[2017-07-06 10:08] nathaneastwood commented on #177
This also needs to include the option of whether or not a graph should be displayed.

The area should be a free text area in Prose.

[2017-07-07 12:47] dougmet commented on #177
This could be either a free text box in the metadata (possibly the best) or we could use the markdown body for this, e.g.

[code]

[2017-07-10 08:48] nathaneastwood commented on #177
Is there a risk there that non-technical people would need to then "learn" markdown? I know there is a WYSIWYG helper, but people still need to know how they work.

[2017-07-10 12:09] nathaneastwood opened #227 "bug: The reset_csvs script needs to remove rownames"
When writing out the csv files, the reset_csvs script isn't removing the rownames which means the build fails its checks on Travis.

https://github.com/jonesg2/sdg-indicators/blob/gh-pages/data/indicator_1-1-1.csv

We need to add the option to not save rownames.

[2017-07-10 12:45] #227 closed

[2017-07-10 13:36] nathaneastwood opened #229 "feat: Add file existence checking to the reset scripts"
If the user does not specify the correct path to the files that need to be reset, they will get errors. We should be checking for this. For example:

`python3 ./change_configs.py -f _config.yml -n TEST -a TEST -o TEST`

will fail. The correct line is

`python3 ./change_configs.py -f ../_config.yml -n TEST -a TEST -o TEST`

[2017-07-10 13:54] #205 closed

[2017-07-10 14:54] shaneporter opened #230 "Search errors with some search strings"
Searching for 'malnutrition' returns the following result:

![image](https://user-images.githubusercontent.com/2493614/28024159-ceb51f36-6587-11e7-9061-c30d35083203.png)

If you search for '+2' (text contained in the indicator title in the screenshot above), you get the following:

![image](https://user-images.githubusercontent.com/2493614/28024245-04d1e248-6588-11e7-9f5d-89f72ec27474.png)

The se

[2017-07-10 14:59] nathaneastwood opened #231 "The change_configs script fails when given inappropriate parameters"
Only the `_config.yml` file contains information on the country (name and adjective) so if passing a these arguments to `_config_staging.yml` or `_config_prod.yml`, the user is presented with an error. This should soft fail and provide a warning instead. In other words the following code works only for `_config.yml`

[code]

Estimate: 15 mins

[2017-07-10 15:29] #230 closed

[2017-07-12 14:12] #186 closed

[2017-07-12 14:12] #182 closed

[2017-07-12 14:12] #183 closed

[2017-07-12 14:12] #184 closed

[2017-07-12 14:12] #192 closed

[2017-07-12 14:12] #203 closed

[2017-07-12 14:12] #204 closed

[2017-07-12 14:12] #208 closed

[2017-07-12 14:46] nathaneastwood commented on #181
Taken from style.ons.gov.uk

[2017-07-12 14:49] nathaneastwood commented on #107
Closed via b9f00f4

[2017-07-12 14:49] #107 closed

[2017-07-12 14:58] nathaneastwood commented on #129
I believe this is solved by b9f00f4?

[2017-07-13 08:26] AlexLewis1 commented on #223
We will need separate pages for indicators 8.4.1, 8.4.2, 8.9.1, 8.10.1,12.2.1, 12.2.2, and 12.c.1 as they all have two separate units of measure.

[2017-07-13 09:05] nathaneastwood commented on #223
If this is going to be more common, which it seems it is, then we maybe need to consider a more effective way of displaying this. @dougmet and @shaneporter can you think of a good way to do this?

Shane, for some background: Indicator 9.2.1 has two key ways of measuring the indicator: per capita, and % of GDP. Displaying them together doesn't really work, unless we were to start having dual axes,

[2017-07-13 09:12] nathaneastwood commented on #201
Given the changes to the graphics made in b9f00f4, can we say this is now solved @MaxEngledew?

[2017-07-13 09:12] nathaneastwood commented on #179
Closing as this is linked to #223

[2017-07-13 09:12] #179 closed

[2017-07-13 09:15] MaxEngledew commented on #201
Yep. The text is much better.

[2017-07-13 09:15] #201 closed

[2017-07-13 09:19] nathaneastwood commented on #143
Could someone please provide an update on this?

[2017-07-13 09:19] nathaneastwood commented on #166
This was indeed to do with the permissions. Closing

[2017-07-13 09:19] #166 closed

[2017-07-13 09:21] MaxEngledew commented on #223
The filtering certainty helps with the y axis scaling on this indicator.

With regards to a long term solution its a question of weighing up the benefit of being able to compare the two headlines (which will have to be on an indicator basis) against not having an immediate headline visualization appear (a default empty graph) which is probably more important to the general public. Is there a way o

[2017-07-13 09:22] nathaneastwood commented on #98
I think with the new filtering system in b9f00f4, this is sort of tackled as users can now filter out "UK" and/or "England and Wales". Or is there a bigger issue afoot here?

[2017-07-13 09:23] nathaneastwood commented on #103
@MaxEngledew would you say that this is now solved as of b9f00f4? (i.e. the new filtering system)

[2017-07-13 09:24] nathaneastwood commented on #106
@AlexLewis1 and @MaxEngledew any updates on this?

[2017-07-13 09:27] nathaneastwood commented on #54
Having write permissions also creates the additional issue of not being able to use Prose at all since it requires a Travis check. See #166 for more details.

[2017-07-13 09:28] MaxEngledew commented on #143
It seems as though, although @dougmet started doing this, none of the indicators have been updated as the site stands. Just to confirm, the excel file at the top is a correct summary of the updates and the post 22/03/17 list needs to be implemented. The full updated list of SDG indicators can be found [here](https://unstats.un.org/sdgs/indicators/indicators-list/).

[2017-07-13 09:29] nathaneastwood commented on #223
We could probably easily add a metadata field that would give you the ability to select an option for the headline to show as a default.

[2017-07-13 09:30] nathaneastwood commented on #143
Thanks @MaxEngledew, I will catch up with @dougmet when he is back about this.

[2017-07-13 09:31] nathaneastwood opened #240 "Add a scroll bar to the graph filtering dropdowns"
Some of the dropdowns contain a lot of disaggregations and so could do with their own scroll bar which is separate to the page scroll bar. Take the "Sub category of manufacturing" drop down as an example in [this](https://datasciencecampus.github.io/sdg-indicators/9-2-1/) indicator.

[2017-07-13 09:38] AlexLewis1 commented on #106
The metadata is now showing as I was not updating the raw metadata initially so we can close this issue.

[2017-07-13 09:38] #106 closed

[2017-07-13 09:40] nathaneastwood opened #241 "Dynamically increase page height based on filtering options"
When selecting lots of filtering options (take [this](https://datasciencecampus.github.io/sdg-indicators/9-2-1/) indicator as an example), the graph becomes very squashed. The graph height should dynamically adjust based on the number of filtering options selected.

[2017-07-13 09:42] MaxEngledew commented on #103
Specifically, yes. We can now access all of the data through the filtering.

However, accessing the 'deeper' data is not very accessible. Without our working knowledge of which disaggregation sit under which it can be quite confusing. I can try break this down into individual issues or would it be more helpful to start a thread on issues relating to the filtering update in general?

[2017-07-13 09:56] MaxEngledew commented on #223
That would be a nice enhancement - although if we do follow that route we will need dual axis, which I understand will require many other enhancements (more metadata fields etc). I wonder if still the simplest solution is adding more indicator pages although you're in a much better position to judge the workload of these options?

[2017-07-13 10:07] nathaneastwood commented on #103
Could you initially provide an example of what you mean?

[2017-07-13 10:16] MaxEngledew commented on #103
Sure. If you look at [5.2.1](https://datasciencecampus.github.io/sdg-indicators/5-2-1/) for example all the disagreggation appear selectable but if were to select "Age Group" variables you get no data appearing. From there, for most, its a guessing game of how to get that data to appear - only we know that all "Age Group" data sits under "Abuse Category: Non-sexual" .

This same issue is applicabl

[2017-07-13 10:19] MaxEngledew commented on #103
The "grey out" enhancement you showed us doesn't seem to be working.

[2017-07-13 10:28] nathaneastwood commented on #103
No that was a design decision. It doesn't actually make sense in some instances to do that, I will give an example at the next show and tell.

[2017-07-17 13:49] shaneporter commented on #241
Woah. The filters just don't work nicely with that number of options. Will most likely have to redesign them too.

[2017-07-18 07:19] MaxEngledew opened #243 "10.b.1 Graph not appearing"
Added data for 10.b.1 (#233) - but graph doesn't appear to be loading. Other data uploads (e.g. #242), which were also committed 17/07/2017, seem to have worked fine.

[2017-07-18 08:20] nathaneastwood commented on #243
@shaneporter the console errors are

[code]

[2017-07-18 08:25] nathaneastwood commented on #243
@MaxEngledew I am just looking at the actual csv file for this indicator and for a large chunk of the file there are no data in the "Value" column.

[2017-07-18 08:27] MaxEngledew commented on #243
Oh right. Apologies, I'll fix and re-upload.

[2017-07-18 08:28] nathaneastwood commented on #243
@dougmet we may need to consider how this affects non-statistical indicators?

[2017-07-18 08:58] MaxEngledew commented on #243
A side point - Hopefully its just my pathetic laptop but the I'm crashing quite a lot trying to upload data for 10.b.1 -  seems like you can just wait it out though.
![example](https://user-images.githubusercontent.com/24583650/28308832-5a6684c6-6b9f-11e7-8ddf-5c37764acb15.png)

[2017-07-18 09:06] nathaneastwood commented on #243
So it eventually worked? We need to get you using command line `git` ;)

[2017-07-18 09:20] MaxEngledew commented on #243
@nathaneastwood Yea, it worked eventually. That would be good!

Just concerned that, if this will reoccur for large data-sets in prose, it may impact the international capacity of the tool. Is it possible to add a reassuring "this may take a while - please wait" message?

[2017-07-18 09:31] nathaneastwood commented on #243
Yes I agree. Not sure if this is a prose issue or related to your laptop.

The graph still doesn't appear to be showing for me. I will investigate further.

[2017-07-18 11:32] nathaneastwood opened #246 "Add an indicator for the number of disaggregations selected"
When you select a disaggregation and click off the filter, the user has no idea which have been ticked on.

@shaneporter we did have a little indicator bar below the drop downs initially - could this be readded? An example

Estimate: 30 mins

[2017-07-18 12:24] MaxEngledew opened #247 "Raw Metadata in Prose"
Bulk wipe all of the raw metadata from prose - as its all US specific.  Even if this meant wiping all metadata entirely I still imagine it would be quicker to re-upload these than to manually remove all raw metadata from prose.

Estimate: 45 minutes

[2017-07-18 12:35] MaxEngledew commented on #181
If we can't sort out the colour pallet for lots of lines a quick solution might be to add colour to enabled lines as you disable already colored enabled lines (see picture). Although maybe its more intuitive for users just to disable disaggregation variables to add colour to others.
![capture](https://user-images.githubusercontent.com/24583650/28317057-4d59b62c-6bbd-11e7-886d-b3a426dd5268.PNG)

[2017-07-18 12:36] MaxEngledew commented on #240
Could we also add a select all function?

[2017-07-18 13:31] shaneporter opened #248 "Reporting status - iteration of dummy data"
Currently, the Reporting Status page is based on dummy, random data, generated by JavaScript for the 'Exploring data sources', 'Statistics in progress' and 'Reported online' statuses.

As an iteration for this area of functionality, it would be useful to add a metadata key/value representing 'reporting status' for each indicator, and then generate the data off these statuses. Although the statuses

[2017-07-18 13:32] nathaneastwood commented on #240
Good question - one for @shaneporter

[2017-07-18 19:00] shaneporter commented on #240
That's something that can be done, yes.

[2017-07-18 20:22] shaneporter commented on #181
@nathaneastwood - there are some shades in that palette that are virtually indistinguishable from one another. I'm not saying that this is easy, but the vast number of disaggregations _and_ resulting combinations means that there is no apparent solution to this as far as I can see.

[2017-07-19 08:52] nathaneastwood commented on #181
I agree @shaneporter. I think the simplest thing to do is to define 8 colours and then have different shades of that colour for a single disaggregation though. At the moment we have different colours within a disaggregation which is quiet confusing. I'm not sure if you can generate hex values on the fly depending on different colours?

The palette idea is for interactions. So say you had selected

[2017-07-19 09:11] nathaneastwood commented on #181
Good points indeed. Maybe we could limit it in some way - only mix colours for two disaggregation interactions and any higher we use a different line type?

[2017-07-19 09:21] nathaneastwood opened #250 "Sort graphics metadata"
Currently we have a lot of redundant graphics metadata that should be removed. The ones I am aware of<sup>1</sup> are as follows:

In the `_config*.yml` files:
- `graph_type`
- `graph_title`
- `data_edge_list`

In the metadata `.md` files:
- `graph_type_description`
- `graph_status_notes`
- `graph`
- `graph_title`
- `graph_type`

<sup>1</sup> not all of these may be redundant

Estimate: 30 mins

[2017-07-19 14:57] dougmet commented on #247
I'm going to write a script to do this.

[2017-07-19 15:04] dougmet commented on #248
Could you put in a list of allowed statuses so I can add it to the Prose config:

[2017-07-19 15:10] shaneporter commented on #248
Example line in .md:

[code]

the possible values are:

`notstarted`, `inprogress` and `complete`.

[2017-07-19 15:10] dougmet commented on #241
Child of #129

[2017-07-19 15:10] dougmet commented on #240
Child of #129

[2017-07-19 15:12] dougmet commented on #231
@nathaneastwood we will remove the unused staging and prod configs for now

[2017-07-19 15:12] nathaneastwood commented on #231
Sure. I'll update the Wiki too.

[2017-07-19 15:26] dougmet commented on #209
Would this be somewhat addressed by enabling the News section?

[2017-07-19 15:28] dougmet commented on #209
If we want a certain amount of free text that can be edited in Prose then this could work. Estimate: 4 hours.

[2017-07-19 15:45] dougmet commented on #136
We're going with a footnote

[2017-07-19 15:49] dougmet commented on #65
Return if a need arises

[2017-07-19 15:49] #65 closed

[2017-07-19 15:49] dougmet commented on #61
I'm going to use this for the reporting status #248

[2017-07-19 15:52] dougmet commented on #54
Links to #38

[2017-07-19 15:52] #55 closed

[2017-07-19 15:54] dougmet commented on #54
We'll do short term for MVP

[2017-07-19 15:55] dougmet commented on #26
No action for MVP

[2017-07-20 15:39] shaneporter commented on #185
Two questions:

1. Will the data come from the `unit_of_measure` field in the indicator metadata?
2. Is it expected that all indicators will have a value for this field?

Thanks.

[2017-07-20 19:10] shaneporter commented on #181
I took a look at the 'Ethnic Group' disaggregation for 5-2-1. There are *17* options. This is a lot for a single colour. 17 hues isn't going to work is it?

Lines styles and colours can help, but only up to a point. Therefore, I think a restriction on selections needs to be introduced. However, this doesn't fit with the 'nobody left behind' ethos. But, what's shown needs to be useful, too.

[2017-07-24 11:23] shaneporter commented on #197
The estimate, above, was not good. I have already spent 4 hours on this and am yet to find a solution.

Revised estimate: 2-3 days.

[2017-07-26 16:14] #197 closed

[2017-07-26 16:14] #246 closed

[2017-07-26 16:20] nathaneastwood commented on #181
@AnnCorp do you have any thoughts?

[2017-07-26 16:31] shaneporter opened #264 "Download chart as image [estimate 1-2hrs]"
Users might not be aware that they can download the charts using the usual interaction to download an image (desktop users can right click, mobile users can touch and hold).

However, it _is_ possible that they might not be aware of this, and a 'Download chart' might help.

Is this something that anybody else thinks will be useful? It should be relatively quick to implement.

[2017-07-26 16:36] shaneporter commented on #187
So the good news is that chartjs has a plugin for this.

The bad news is that it doesn't seem to work with the latest version of chartjs, 2.6 at the time of writing. 2.6 is needed as part of the solution for #263.

The chartjs issue is described in https://github.com/chartjs/chartjs-plugin-zoom/issues/90.

As I write this, it's an issue that was raised just 2 days ago, so hopefully a fix will be f

[2017-07-27 09:26] #206 closed

[2017-07-27 13:02] shaneporter commented on #59
This has been implemented in PR #254.

[2017-07-27 13:02] #59 closed

[2017-07-27 13:03] shaneporter commented on #185
Implemented in PR #255.

[2017-07-27 13:03] #185 closed

[2017-08-07 08:31] dougmet commented on #243
@nathaneastwood I think non-statistical indicators will need a flag so that it doesn't try to plot a graph. We already have `graph_type` which isn't used. We can either have an on off switch or `graph_type: none` for example.

If there are errors in the value field that cause the graph not to plot I'd like this to be picked up in the build so might need to look at that.

[2017-08-07 08:41] nathaneastwood commented on #243
`graph_type: none` seems the most sensible. Rather than `on` or `off` because there will be a need for other graph types. Particularly as people start to integrate mapping tools.

[2017-08-07 09:10] dougmet opened #273 "Reporting Status"
- [x] Make sure all indicators have a `reporting_status` value
- [x] Update prose config with a select box
- [ ] Validate metadata for reporting status

Replaces #248 as it was already closed.
Relates to #251
Relates to #61 validate metadata

[2017-08-07 09:10] dougmet commented on #248
Closing because the branch already got merged. #273 is now where this lives.

[2017-08-07 09:10] #248 closed

[2017-08-07 14:20] #61 closed

[2017-08-07 14:20] #273 closed

[2017-08-07 16:17] dougmet commented on #247
nearly there. Just worrynig about some fields that we never explicitly added to prose, and what `NULL` should look like in the output

[2017-08-08 08:16] #231 closed

[2017-08-08 10:42] dougmet commented on #243
also, `graph` and `graph_type` need merging (ie get rid of `graph`). Making a ticket...

[2017-08-08 10:44] dougmet opened #277 "Merge graph and graph_type metadata"
These are nearly copies of each other but both appear to be used.

We should keep `graph_type` and remove graph, but check the following:

1. Existing data in `graph` should match what's in `graph_type`
2. Check `_includes\components\charts\line.html` which uses both
3. Check lowercase or Capitalcase

[2017-08-08 10:47] dougmet commented on #250
This ticket is related to #277 . `graph_type_description`, `graph_status_notes` have been removed in PR #276 . `data_edge_list` can go once we know that it's not going to be used

[2017-08-08 10:51] dougmet commented on #177
It turns out the page content already goes in. I've added a demo of this to indicator 14-1-1 in PR #276. Anything you write below the yaml header in the md (or simply in the content section in Prose) will appear above the chart.

[2017-08-08 15:12] #247 closed

[2017-08-09 09:00] dougmet opened #281 "Row cycles have stopped working"
Mysterious new behaviour on GitHub Pages. I tried rolling back the whole site but it does no appear to be due to any change we've made. Front page currently looks like this:

![image](https://user-images.githubusercontent.com/5878305/29113574-4c6da8ee-7ce9-11e7-8d8a-69b8fb58c5dc.png)

and the indicators page have the same problem. Locally the site looks just fine, something appears to have changed

[2017-08-09 09:29] nathaneastwood commented on #281
When you inspect the page, each element is actually the full width. I am wondering if something funny has happened with the css?

[2017-08-09 09:33] dougmet commented on #281
Each goal has gone in its own row. So it's putting each one on a new line:

![image](https://user-images.githubusercontent.com/5878305/29115082-2ff3cb30-7cee-11e7-9be4-9e3a05ff5228.png)

[2017-08-09 09:34] dougmet commented on #281
This is how it looks locally
![image](https://user-images.githubusercontent.com/5878305/29115135-5e67d970-7cee-11e7-8ac0-ad90f2e5f880.png)

[2017-08-12 11:02] shaneporter commented on #281
There is also an issue on the Goal page, fixed by #282.

[2017-08-12 11:05] #281 closed

[2017-08-13 10:55] dougmet commented on #281
Awesome! Thanks Shane, I should have checked my Jekyll versions. Will make a ticket to update the build etc. Thanks!

[2017-08-16 08:43] dougmet opened #285 "Metadata not feeding through to live site [1.5 hours]"
Since the removal of US metadata we've lost some titles. The title should come from the `graph_title` metadata field.

Relates to #250 and #277

[2017-08-16 08:53] dougmet opened #286 "Unreported indicators (inc suppressing graph) [est 3hrs]"
For indicators that have no data we want to remove the boiler plate data. However, there are a few things we should do in that instance:

1.	Set reporting status to notstarted.
2.	Tell the website not to display anything that’s notstarted or inprogress(?).
3.	Decide what we *do* show for indicators that are not started (e.g. UN metadata etc)

Bulk edit the csvs for unreported indicators.

I’m temp

[2017-08-17 14:20] shaneporter opened #291 "Menu/search visually broken on mobile"
![image](https://user-images.githubusercontent.com/2493614/29416932-81955fea-835f-11e7-819e-568c261f0a76.png)

[2017-08-22 08:41] #291 closed

[2017-08-22 10:08] shaneporter opened #298 "Reporting status visually broken on resize"
It appears the reporting status page uses the viewport width to calculate status bar widths.

If you resize the browser after the initial display, it doesn't respond in a visually appropriate way:

![image](https://user-images.githubusercontent.com/2493614/29560504-12da7f9e-872a-11e7-9b27-923742e62430.png)

[2017-08-23 08:35] #298 closed

[2017-08-25 08:12] shaneporter opened #302 "Goal images are huge"
The goal images are 1000x1000 and on the home page, the [total image size is 1.29Mb in size and represents 81% of the page](https://tools.pingdom.com/#!/inodm/https://datasciencecampus.github.io/sdg-indicators/).

Reduce these images to a more sensible size to vastly improve page load times.

[2017-08-25 13:01] MaxEngledew commented on #285
I believe we're also having a similar issue with Units of Measurement feeding into the y axis.

[2017-08-25 16:20] dougmet opened #303 "Trim trailing whitespace from dissaggregations"
The data import tool often sneakily adds whitespace. So sometimes you get `England` and sometimes `England     `

In the JS we need to strip trailing whitespace from dissaggregations so that they don't get detected as different values.

[2017-08-25 20:24] #302 closed

[2017-08-25 20:36] shaneporter commented on #302
Page size is now 657k.

[2017-09-04 09:07] shaneporter commented on #303
What do you mean by the 'data import tool'? Human (I'm not implying you've called somebody a tool) or computer, it seems that it's there that the correction should be made.

I'm saying this because although I can `trim` the whitespace, the underlying CSV is downloadable, so a 'presentation' based modification won't tackle the underlying issue, and users will have to 'tidy up' the data themselves,

[2017-09-04 09:57] dougmet commented on #303
I mean prose.io

[2017-09-04 09:57] dougmet commented on #303
Yes the build can reject, and maybe this is easier in the short term.

[2017-09-12 11:02] AnnCorp opened #306 "Commits not going through to live site - can't 'Merge'"
SDG team don't get option to Merge the commit requests so can't push data to live tool - can approve them but can't do the next step to merge, so commits just sitting in limbo.
Previoulsy Mango have pushed them through but need to be self-sufficient in team.
Query if could it be related to permission (is Admin permission level needed - does Admin permission still force through commits without chec

[2017-09-12 11:16] AnnCorp opened #307 "Compliance with GDS browser guidelines"
Need to provide summary documentation/evidence of how the SDGs tool complies with GDS cross browser and responsive guidelines
https://www.gov.uk/service-manual/technology/designing-for-different-browsers-and-devices
Raised by our Digitial Publishing team.

- [x] Run browserstack
- [x] IE 8/9 data #615

Need estimate how long this will take?

[2017-09-12 12:15] AnnCorp opened #308 "Compliance with digital accessibility best practice [need estimate]"
Need to document compliance with best practice for digital accessibility https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction
Requested by Digital Publishing team.
[for info will also arrange testing through Digital Accessibility Centre]
Need resource estimate for this pls.

[2017-09-12 12:20] AnnCorp commented on #136
#177 may cover off this issue #136.

[2017-09-12 12:37] AnnCorp opened #309 "Remove ONS branded persistent footer [estimate 1 hour]"
Requested by Digital Publishing team to remove the entire ONS style persistent foot from all pages.
Note will need to add some form of 'Contact us' element somewhere (perhaps in a renamed 'News and Events' - > 'About')
Need resource estimate for this pls.

[2017-09-12 12:49] AnnCorp opened #310 "Review load limitations and conduct testing [need estimate]?"
Consider any load limitations for github, consider what level of use SDG tool going to have and test it, under load, appropriately. Requested by Digital Publishing.
Some initial work done to review github limitations earlier in the project - need to pick this up again. See file GitHubLimits.docx in trello card
https://trello.com/c/4lPhDc8X/37-explore-risks-constraints-with-github-pages-and-documen

[2017-09-13 08:35] dougmet commented on #306
I've made you admin, @AnnCorp

[2017-09-13 09:51] dougmet commented on #286
In the first instance I'm setting all reporting statuses to `notstarted`. @MaxEngledew and @AlexLewis1 can assist on switching the ones we've done back to `completed` or `inprogress`

[2017-09-13 10:23] MaxEngledew commented on #286
For now can we switch the list below to `completed`:
2.a.2
3.2.1
3.2.2
3.a.1
3.b.2
5.2.1
5.2.2
5.4.1
5.5.1
6.a.1
8.1.1
8.2.1
8.5.2
8.9.1
8.a.1
9.2.1
9.a.1
10.b.1
11.7.2
11.c.1
15.a.1
15.b.1
16.2.3
17.8.1

And these to `inprogress`:
1.2.1
1.2.2
1.4.2
1.a.2
2.3.2
2.a.1
3.1.2
3.3.1
3.3.3
3.4.1
3.4.2
3.5.2
3.6.1
3.7.2
3.c.1
4.2.2
4.3.1
4.b.1
5.5.2
6.3.2
6.5.1
6.5.2
7.1.2
7.3.1
7.a.1
8.4.1
8.4.2
8.5.1

[2017-09-13 10:23] AnnCorp commented on #306
Thanks @dougmet - we'll test pushing some stuff through and consider as you suggested if have separate admin usernames for people who need to enter and approve data.

[2017-09-13 10:39] dougmet commented on #286
OK that's done. The reporting status should now be **correct**. Submit relevant pull requests for any problems spotted.

This ticket needs to remain open because it's main issue was suppressing output for unreported indicators. Is it your understanding that only indicators that have `complete` as a reporting status should show any data?

[2017-09-13 10:45] dougmet commented on #310
I'm still thinking about cloudflare for this but we might need to discuss domain names (`sdg-something.org` offline first)

[2017-09-13 12:40] AnnCorp commented on #310
@dougmet  If after analysing the risk we need to do something then would have to get approval for this, so need to move quickly on fully understand what happens if hit the soft bandwidth limit (contact GitHub support?) and how likely this is (understanding how the bandwidth gets used up).
Is the limit per calendar month? If so, then presumably publishing later in the month means more likely to hit

[2017-09-13 12:51] AnnCorp commented on #285
Example of this issue from Max:
3.2.1
Graph title in metadata is " Mortality rate for infants and children younger than 5 years old per 1,000 live births "
and Units of measure in metadata is "Number of deaths per 1,000 persons"
neither is feeding through to the graph

[2017-09-13 12:55] AnnCorp commented on #306
@Dougmet We need to ensure something in the wiki re permissions and what's needed to do what.

[2017-09-13 13:15] MaxEngledew commented on #286
Yes - only `complete` indicators will show data.

Related though - there will be `complete` indicators which are non-statistical and therefore won't have data or need for a chart. Is there ways the tool could distinguish between these in order to auto remove any chart from displaying?

[2017-09-14 08:11] AnnCorp commented on #306
Having Admin access sorted the issue - I could fully push through the commits. Team agreed need second admin login within team. @dougmet could we talk through this on Tues pls

[2017-09-14 08:32] AnnCorp commented on #177
Discussed with SDG team 13/09/17. Requirements for this:
- free text field (query: if don't have character limit, how handle display of long entries of just let box take as much apace as needed?)
- want ability to format text eg add bold etc
- want to be able to add hyperlinks on text so don't have to include full URL text

[2017-09-14 08:37] AnnCorp commented on #310
Suggestion from team that we find out how US mitigated for this, if they did.

[2017-09-14 08:51] AnnCorp commented on #307
Think could close #123 and just leave this issue #307 (sorry, didn't see 123...)

[2017-09-14 08:52] AnnCorp commented on #123
Closing as covered by issue 307

[2017-09-14 08:52] #123 closed

[2017-09-14 09:06] dougmet commented on #310
Their `gsa.github.io/sdg-indicators` Site is the staging site and the public site is on a different domain. I don't know if that was cloud or local.

[2017-09-14 09:06] AnnCorp commented on #209
@14/09 Not planning to include this for sprints pre October publications

[2017-09-14 09:15] AnnCorp commented on #264
@shaneporter how quick do you estimate 'relatively quick' to implement is in hours please?

[2017-09-14 09:15] dougmet commented on #286
I think a `graph.show` flag could be useful for this.

Would non-statistical indicators have tabular data?

[2017-09-14 09:26] AnnCorp opened #314 "'About' page instead of 'News & Events' [1 hour]"
SDG team want to introduce some form of 'About' page for high-level info about the tool and project, links to wiki info etc. Suggest rename News & Events paage as not planning to develop that pre Oct publication. Likely add contact details in here too.
SDG team will provide content.
Need to understand what options we have for editing this text ourselves going forward.

Tasks:

- [ ] Swap news for

[2017-09-14 10:10] shaneporter commented on #264
1-2 hours

[2017-09-14 13:02] AnnCorp opened #315 "Add overall Reporting Status [estimate needed]"
Please add an overall Reporting Status above the goal-specific bars, showing the totals for all indicators. US already have this in https://gsa.github.io/sdg-indicators/status/ so hoping can just reuse code?

[2017-09-14 18:57] dougmet commented on #177
Hi, I've implemented a test, see https://datasciencecampus.github.io/sdg-indicators/14-1-1/ where there is now some free text at the beginning.

The text is entered outside of the metadata as Markdown (see the raw file [here](https://raw.githubusercontent.com/datasciencecampus/sdg-indicators/gh-pages/_indicators/14-1-1.md)) and is more like a document than data.

[2017-09-15 06:39] MaxEngledew commented on #286
Not sure - there's a possibility that we might use a table for some sort of annual met/not-met classification but I was always under the impression that the implementation of a 'catch all' box would be enough for the nonstat indicators. I think there's still some discussion to be had around exactly what we do with them @AnnCorp

[2017-09-18 07:53] shaneporter commented on #315
We also just have percentages for each of the status types, whereas they have the count and the percentage - I think that's useful too. Adding _that_ part should take less than an hour.

Will update estimate for 'overall' reporting status after investigation.

[2017-09-18 11:34] #315 closed

[2017-09-18 11:36] dougmet commented on #314
At worst it will be a page that you edit directly from GitHub interface (this isn't too bad actually, there's a nice text editor built in). At best we can add it to the prose configuration and you can edit it there, with full pull request functionality etc.

[2017-09-18 12:00] shaneporter commented on #307
There are undoubtedly some compliance issues with the current website. I have worked with progressive enhancement in the past, but I think it may take a relatively large amount of work to achieve compliance.

Is there a team that can validate the compliance of the website? I'm looking at the 'browsers to test in' and we don't have access to all of those as far as I know. If you have access to a sp

[2017-09-18 12:03] shaneporter commented on #308
I wouldn't describe myself as an 'accessibility specialist', so it's difficult for me to estimate times to change things if I don't have a comprehensive list of items to resolve.

What's the feasibility of getting the website tested prior to resolving the issues?

[2017-09-18 20:10] shaneporter commented on #308
Citing the link content (emphasis mine):

I have looked at a couple of the pages with WAVE, Tenon and HTML_Sniffer, and it found some issues - I estimate fixing those would take 1-2 days, but further fixes for issues that may be found by other means will take longer (and I don't know the scope of those issues yet.)

[2017-09-18 20:16] shaneporter commented on #314
We can easily 'remove' the 'News and Events pages' from the jekyll build by setting a config option.

Creating a new page, especially if content is provided, will take less than an hour.

[2017-09-19 07:59] AnnCorp commented on #309
We need to get rid of everything in the footer including the OGL stuff please. Think we just get rid of the whole black footer strip?

[2017-09-19 08:23] AnnCorp commented on #177
@dougmet have asked the team to test setting one up based on your example.

[2017-09-19 08:41] AnnCorp commented on #308
I've spoke to @nirenbasu this morning about the Digital Accessibility Centre (DAC) doing some testing for us, initially using some form of automated testing - Niren will send me more info.
Our Digital Publishing team were in the first instance looking for information on what we had done to meet best practice - the tests you're running could contribute to this. Could you add av  brief note on what

[2017-09-19 08:44] dougmet commented on #177
The only thing that doesn't look good out of the box is the table style. This is a super easy change, and I'll make a new ticket for it.

[2017-09-19 08:44] AnnCorp commented on #307
I'm exploring this with an ONSteam that undertakes some other service assessments.

[2017-09-19 08:58] AnnCorp opened #320 "Include indicator reporting status on goals page"
SDG team would like a way of showing users on the goals page which indicators have data within the tool and which don't, so they don't have a potentially pointless journey into indicator pages where there is no data eg on https://datasciencecampus.github.io/sdg-indicators/good-health-and-well-being/ would want to idintify which 4 indicators have data.
Team have suggested including reporting status

[2017-09-19 09:14] shaneporter commented on #308
I'll do some automated testing using WAVE and Tenon and fix the issues; will list them here in due course.

[2017-09-19 09:14] shaneporter commented on #309
OK - fair enough. Will do that now.

[2017-09-19 09:30] shaneporter commented on #309
I've removed the footer in PR #321.

However, I believe it is detrimental not to have a footer on the website. The design is somewhat spoiled - the footer gave the site some form of symmetry, and there is a place for some links down there.

[2017-09-19 09:38] shaneporter commented on #320
We use a colour for a status on the reporting status page, so for consistency, I'd suggest we use this approach on the goal page too. This is more obvious than a shade of grey.

Also, the Americans have a (summary page, per goal)[https://gsa.github.io/sdg-indicators/no-poverty/], but if this info is on the goal page anyway, perhaps we don't need to duplicate it.

[2017-09-19 09:41] shaneporter commented on #320
In fact, as we've seen, the reporting status is important for users wishing to dive down into the indicators page, so it begs the question, why is this information not integrated into the existing goals and indicator pages and removed from the separate 'Reporting Status' area of the site?

[2017-09-19 10:34] shaneporter commented on #308
The issues I've found are:

- Elements must have sufficient color contrast
- Form elements must have labels
- Headings must not be empty
- Frames must have title element
- HTML elements must have a lang attribute
- Redundant links
- Long alternate text (for images)
- Missing first level heading

In many cases, but not all, these issues are found in the same shared elements that are shared across p

[2017-09-19 11:08] dougmet commented on #310
I've done an analysis of page loads for a typical visit. Shane thinks we can get it down a bit but we're currently on ~ 450kB per visit (load home page and a few clicks around). Almost all of this is from images. Translating this into bandwidth constraints (100GB) we'd be looking at:

`~220,000` unique users per month.

The reason for the unique is that if you visit the site multiple times your br

[2017-09-19 11:11] dougmet commented on #320
You mean, have the goal level reporting status at the top of each goal page? I like that.

I like having it all in one place as well though. Don't see the harm in leaving it there.

[2017-09-19 12:53] #309 closed

[2017-09-19 13:03] AnnCorp commented on #320
Def think useful having it all together too but yes, aiming to integrate some of the reporting status stuff into our goal page.  Debated whether have all reporting status appearing next to indicator title (as in US page) or given the distinction we're wanting to make is just whether or not there's data there to dip into, is the important thing to distinguish just whether or not there's data that i

[2017-09-19 13:09] AnnCorp commented on #310
That's really helpful, thanks, and great if we could reduce image size further. Once we understand more about the impact of hitting the soft bandwidth and how monitor/check how close we are to it then I'll discuss further with our Digital Publishing team.

[2017-09-19 13:16] AnnCorp commented on #308
Cheers. Pls let us know if you need any input from SDG team on any of these (text for images - does this include describing charts?) or are they all things you can sort?

[2017-09-19 13:26] nirenbasu commented on #308
Hi Ann,
Would be great if someone could complete the ages - Mean, SD - Sure there will be something else but that is all I can think of at the moment.
Thanks
Niren

From: AnnCorp [mailto:notifications@github.com]
Sent: 19 September 2017 14:16
To: datasciencecampus/sdg-indicators <sdg-indicators@noreply.github.com>
Cc: Basu, Niren <Niren.Basu@ons.gov.uk>; Mention <mention@noreply.github.com>
Subjec

[2017-09-19 14:22] nirenbasu commented on #308
Hi Ann,
Here is the first draft of the report. If you could have a look, any feedback will be greatly appreciated. Note task completion rates were not compiled as this would mean looking through the video.
Thanks
Niren

From: AnnCorp [mailto:notifications@github.com]
Sent: 19 September 2017 14:16
To: datasciencecampus/sdg-indicators <sdg-indicators@noreply.github.com>
Cc: Basu, Niren <Niren.Basu@o

[2017-09-20 08:16] dougmet commented on #308
Removed some email text and a comment that looked like it wasn't meant to go here.

[2017-09-20 09:20] AnnCorp commented on #277
@dougmet do we need this issue in Sprint 6 if its linked to 285?

[2017-09-20 09:33] AnnCorp commented on #264
Looked at some recent publications on ONS website and for charts you get a 'Download this chart' with green buttons underneath for 'Image' '.csv' and '.xls'.
Maybe one to consider once have completed work on filtering/disaggregations if have enough resource left.

[2017-09-20 09:36] AnnCorp commented on #250
@dougmet could you clarify what of the original issue still needs to be done pls and when (if links to #285, is it for Sprint 6?). Cheers

[2017-09-20 09:43] AnnCorp commented on #240
Poss Sprint 7 or later- to be discussed if

[2017-09-20 09:44] AnnCorp commented on #229
@dougmet so is this part of the scripts for when people take a copy of our repository to set up their own?

[2017-09-20 09:49] AnnCorp commented on #223
Discussed possible workaround of separating out the indicators (eg 9.2.1a and 9.2.1b) but this would impact on figures on reporting status page.
For SDG team to discuss in more detail ahead of Sprint 7 how take this forward.

[2017-09-20 10:10] AnnCorp commented on #212
For Sprint 6 please as estimate is just 15 minutes.

[2017-09-20 10:11] AnnCorp commented on #211
For Sprint 6 please as estimate is only 15 minutes

[2017-09-20 10:20] AnnCorp commented on #54
@dougmet I think if we cover this off in the wiki in a section on permissions then we could close this one. Our workaround is to ensure having data managers with Admin access and Data entry people without but if have to have data entry people with dual role then will consider dual logins, one normal and one with admin.

[2017-09-20 10:30] #54 closed

[2017-09-20 10:43] AnnCorp commented on #181
@shaneporter does anything you're doing re "Elements must have sufficient color contrast" in #308 sort any of this one or still need further discussion?

[2017-09-20 10:45] AnnCorp commented on #103
Is this one that still needs looking at - for sprint 7?

[2017-09-20 10:56] shaneporter commented on #181
Unfortunately not @AnnCorp - those changes were for text elements only.

[2017-09-20 10:57] AnnCorp commented on #98
@MaxEngledew is this something we still need to consider as part of filtering and disaggregations

[2017-09-21 06:29] MaxEngledew commented on #98
I don't think so as the metadata seems to carrying through to the geographical coverage footnote on the graph so the "all" figure is clear

[2017-09-21 07:45] #98 closed

[2017-09-21 08:45] #209 closed

[2017-09-21 08:45] #207 closed

[2017-09-21 08:47] AnnCorp commented on #136
for Sprint 6

[2017-09-21 08:49] #97 closed

[2017-09-21 13:50] dougmet commented on #308
Marking as complete. Any problems from manual testing can get their own ticket.

[2017-09-21 13:50] #308 closed

[2017-09-21 14:14] dougmet commented on #314
Hi @AnnCorp , the code for this is done. I just need some content and then I'll merge it in.

[2017-09-21 14:50] dougmet commented on #250
`graph` will be be removed. `graph_type` will be one of `line` or `bar`, and if others want adding then they need to be explicitly added in `_config.yml` and `chart.html`. Will be closed by #285

[2017-09-21 14:50] #250 closed

[2017-09-21 15:00] dougmet commented on #202
The field is `computation_units`

[2017-09-21 15:00] shaneporter opened #326 "Reporting status page doesn't function without JavaScript enabled"
This is related to #307, but worth raising because it's an entire page that is affected by the 'progressive enhancement' guidelines.

Basically, the current implementation makes a separate request (using JavaScript) to get 'indicator' information and render the figures and the relative widths for the 'status bars'.

Without JavaScript, it looks like this:

![image](https://user-images.githubuserco

[2017-09-21 15:14] #211 closed

[2017-09-21 15:25] dougmet commented on #310
I have contacted GH support. Will see if they reply.

[2017-09-21 15:42] dougmet commented on #202
I've added the units of measurement under the title for the table. I considered replacing the word `Value` with this value but I'm concerned that it's a free text field and that some of the units are very long.

[2017-09-21 15:47] #285 closed

[2017-09-21 15:47] #277 closed

[2017-09-21 16:05] dougmet opened #329 "Increased metadata checks for complete indicators"
When someone is raising the `reporting_status` to `complete` we want to increase the checks in `scripts/build/metadatacheck.py`:

- [ ] Check for all required fields in one go

What are the required fields for a completed indicator? Off the top of my head they include:

1. `computation_units`
1. `graph_title` (statistical only)
1. `source_organisation_1`
1. `national_indicator_description`

- [ ]

[2017-09-21 16:07] dougmet commented on #326
Isn't this the same for CMS based web pages? Just wondering if we're setting the bar a little high?

[2017-09-21 19:35] shaneporter commented on #326
What's missing is just text, and this text is key to the purpose of the page, so I'd say that in this case, the text should be generated statically.

[2017-09-21 19:37] dougmet commented on #326
Right oh

[2017-09-21 20:43] shaneporter commented on #187
Things are looking positive for a fix on the chartjs zooming - I'll have to verify, but it seems that they've resolved the issue.

[2017-09-22 09:09] AnnCorp commented on #320
Sending to SDG team for feedback.

[2017-09-22 09:22] AnnCorp commented on #307
@shaneporter could you get access to 'Browser Stack' https://www.browserstack.com/ (free trial?). Have just been told this is something that has been used by ONS developers.

[2017-09-22 10:02] dougmet commented on #202
Reopening for review by SDG team

[2017-09-22 11:03] shaneporter commented on #307
Yeah, I've used that in the past - the free trial only gives me 30 minutes though.

[2017-09-22 11:04] AnnCorp commented on #307
Well you do work pretty fast! Seriously, is it something that you could obtain in Mango?

[2017-09-22 11:11] AnnCorp commented on #308
Doug confirmed passed all the automated tests - no known issues now. Ready to proceed to testing with Digital Accessibility Centre.

[2017-09-22 11:21] shaneporter commented on #307
Thoughts @dougmet?

[2017-09-22 11:26] AnnCorp commented on #307
@dougmet @shaneporter do you think would be more manageable split this issue to separate the browser stuff from progressive enhancements or yu happy to keep as one big one?

[2017-09-22 12:09] AnnCorp commented on #202
Checked serveral indicators and appearing ok. May review as part of wider QA of page but would cover that in another ticket.
OK to close.

[2017-09-22 12:09] #202 closed

[2017-09-22 12:34] AnnCorp commented on #320
Discussed with Claudia Wells. Happy clear enought with just including reporting status so def dropping idea re greying out. Two thoughts on current layout:
1. makes page longer (mindful will get longer again in future when add Targets)
2. splits number from indicator text and is quite dominant
Thoughts please on if instead of having coloured bar full width of column, just have as long as the text

[2017-09-22 12:43] shaneporter commented on #307
Things need to be split. Much easier to manage and track.

[2017-09-22 12:46] shaneporter commented on #307
I've been thinking about this, and generally speaking, there are a few (big) issues that I can think of when JavaScript is not available.

- (Indicator) search. The website is client side only - no server, so we can't fall back on an html `form` POSTing data to a server, which responds. No JavaScript = No search... which means...
- The menu for smaller screen devices (viewport width of 768px or le

[2017-09-22 13:02] AnnCorp commented on #307
I'm meeting with one of the senior managers from Digital publishing on Monday so aiming to gauge how far we have to comply with these guidelines at this stage and what if anything could be looked at further in the development. Will report back...

[2017-09-22 13:07] shaneporter commented on #320
Yes, I take your points - I can move it up onto the same line as the indicator number - there's enough space there.

However, the US statuses do not have sufficient color contrast, and fail a check with the aXe Chrome browser plugin. Ours do not fail :smile:.

[2017-09-22 15:08] #326 closed

[2017-09-23 21:54] dougmet opened #333 "Deploy from master"
Investigate auto deploying the master branch somewhere.

[2017-09-23 22:06] dougmet commented on #333
I'm working on deployment keys in `bugfix/crypto`. Having some issues that I think are Windows related. Will try again from Linux. https://github.com/travis-ci/travis-ci/issues/4746

[2017-09-23 22:07] dougmet commented on #333
Very loosely following instructions from here: https://gist.github.com/domenic/ec8b0fc8ab45f39403dd

[2017-09-24 23:44] dougmet commented on #333
I had a generate the encrypted deploy key on my mac because the travis client didn't do it properly in Windows. Moving to `deploy` branch as the crypto is fixed.

Wondering whether `after_success` is appropriate because I'd like the build to fail if deployment fails so that we get a warning.

[2017-09-24 23:54] dougmet commented on #333
Idea: Rather than deploy from `deploy` / `master` branch, how about tagged releases? Could use the `TRAVIS_TAG` variable. This would possibly be easier for the SDG team to manage.

[2017-09-25 00:23] dougmet commented on #333
TODO:

* Make TARGET_REPO a secure variable (and remove from history if poss)
* Always build with target config (i.e. set the base-url to `/`). That way deploying is one move.

[2017-09-25 11:42] AnnCorp commented on #320
Amendments completed - happy to close.

[2017-09-25 11:42] #320 closed

[2017-09-25 19:15] dougmet opened #334 "Build on trusty"
Travis keep warning me:

So we should look into what it was that was breaking in trusty and move over so that we don't end up with a failing build later.

[2017-09-25 20:31] #333 closed

[2017-09-26 07:34] AnnCorp opened #337 "GDS progressive enhancement compliance"
Need to provide summary documentation/evidence of how the SDGs tool meets GDS standards on progressive enhancement
https://www.gov.uk/service-manual/technology/using-progressive-enhancement
Raised by our Digitial Publishing team - Andy Dudfield.
[Splitting this work out from issue 307 which will now just cover the browser aspects]

- [x] Headline data visibility: #388
- [x] Clear selections: #389

[2017-09-26 07:38] AnnCorp commented on #337
From Shane Porter
I've been thinking about this, and generally speaking, there are a few (big) issues that I can think of when JavaScript is not available.

- (Indicator) search. The website is client side only - no server-side processing, so we can't fall back on an html form POSTing data to a server, which responds. No JavaScript = No search... which means...
- The menu for smaller screen device

[2017-09-26 07:44] AnnCorp commented on #337
@shaneporter Discussed with Andy Dudfield, who heads up the Digital Publishing service area. Suggested be best for you guys to discuss the tehnicalities in more detail -w ill send through contact details via email and see if can get a meeting set up.

[2017-09-26 07:54] AnnCorp commented on #307
Have split out the content re progressive enhancement into a new issue.
Discussed compliance with browser guidelines with Andy Dudfield, head of Digitial Publishing service.
Re meeting these standards, Andy would be happy if out tool passes favourably through a test using Browser Stack. If hit any issues then need to document them and could then discuss further with Andy.
@dougmet what were your t

[2017-09-26 08:09] AnnCorp commented on #310
Discussed with Andy Dudfield, head of Digital Publishing Service. Talked through what we've found so far and the plans to try and further reduce impact of images. Current thoughts are that should be able to proceed without conducting load testing -  subject to getting better understanding from github re what happens when hit the limits and documenting our findings so can share them with Andy.

[2017-09-26 08:15] AnnCorp commented on #308
Waiting on details from  ONS user research contact s for DAC.

[2017-09-26 08:46] shaneporter opened #338 "Accessibility - iframe (Chart.js) has no title"
Fails Google Accessibility Tools check:

<img width="674" alt="screen shot 2017-09-26 at 09 41 43" src="https://user-images.githubusercontent.com/2493614/30850968-300c86e4-a29f-11e7-9f98-b984471c640a.png">

[2017-09-26 08:46] dougmet commented on #303
Agreed that we will block trailing white space in the build

[2017-09-26 08:52] dougmet commented on #306
Moving wiki task to a new issue

[2017-09-26 08:52] #306 closed

[2017-09-26 08:53] dougmet opened #339 "Wiki entry: permissions"
Document permissions required for the team in the wiki.

[2017-09-26 09:07] dougmet opened #341 "Add analytics to site"
So that we can monitor usage. Mostly to make sure we don't overshoot GitHub's limits.

[2017-09-26 09:13] shaneporter opened #342 "Accessibility - goal headings do not have sufficient contrast"
Haven't looked at _all_ the goal headings but I suspect that many have insufficient contrast.

The current design uses the background and foreground colours of the goal logo, shown on the left, so _both_ fail accessibility guidelines.

<img width="732" alt="screen shot 2017-09-26 at 10 09 13" src="https://user-images.githubusercontent.com/2493614/30852200-de0d2200-a2a2-11e7-9f28-b287c7468e73.png">

[2017-09-26 09:17] shaneporter commented on #341
We already have some Google Analytics code in `footer.html`, just need to generate a new tracking ID.

[2017-09-26 09:46] Laura-grajewski opened #343 "metadata is not displaying in prose"
The metadata is not displaying in prose, even where metadata definitely exists.

[2017-09-26 10:58] AnnCorp commented on #343
@dougmet please could you make this the highest priority ticket over any other development stuff. Max and Laura have tested and even when there is metadata, which correctly displays on metadata tab, when try to edit it, all of the metadata fields are showing blank and not the data.
High impact as we can't currently edit metadata.

[2017-09-26 13:27] AnnCorp commented on #342
No we can't modify the logos (though US have used white on black versions in their reporting status page so presume that kind of thing ok and we could change to that style on that page if needed).
Have just been re-reading the user testing report and the issues flagged re page title etc - maybe need to reconsider layout more generally?
Have you got any suggestions on what text/background combos co

[2017-09-26 14:24] shaneporter commented on #342
I'd use the online [Color Contrast Checker](https://webaim.org/resources/contrastchecker/), starting with the existing colour combinations. If they failed, I would adjust accordingly.

Minimum contrast may be easier to achieve with black text, but there are no doubt other designs that would work - I liked using the same colour for continuity, but I think a slight variation could be quite eye-pleas

[2017-09-26 15:33] dougmet commented on #343
When did this start? Trying to link this to something I've changed.

[2017-09-26 15:51] dougmet commented on #343
OK, I've narrowed it down. Somehow I added duplicated into the metadata when I fixed the `graph_type` issue. I'll try a bulk fix to my previous bulk edit.

[2017-09-26 16:22] dougmet commented on #343
I believe this is now fixed. @Laura-grajewski can you confirm?

[2017-09-26 16:46] dougmet commented on #343
Frustratingly there's no option on `yaml.load_all` to fall over with duplicate keys (the R version does but I'm not bringing another language in now!). Will look to add another check in the build. However, data coming from prose should be immune from this as it's a form that won't let you make duplicate keys.

[2017-09-26 16:54] #338 closed

[2017-09-27 09:38] AnnCorp commented on #343
@MaxEngledew could you and Laura both test please?

[2017-09-27 12:13] AnnCorp commented on #223
From Max, other examples:
So the Sendai framework related indicators come to mind (1.5.3,11.b.1, 13.1.3)
But the one I was specifically asking about was 9.1.2 - we're not sure how to format our csv.
also 4.1.1 and 4.6.1

[2017-09-27 12:20] MaxEngledew commented on #343
@AnnCorp seems to be fine now. Also @Laura-grajewski has successfully submitted a pull request #345 - so that seems to work too - just decline that one please!

[2017-09-27 12:36] MaxEngledew commented on #223
I'm working on building a more definitive list of indicators where this is the case - though this list could grow as the UN add/update metadata.

[2017-09-27 13:27] #343 closed

[2017-09-28 09:50] dougmet commented on #306
Have updated the [wiki](https://github.com/datasciencecampus/sdg-indicators/wiki/Permissions-for-Adding-Data)

[2017-09-28 09:57] AnnCorp commented on #306
Wiki entry looks good - thanks.

From: Douglas Ashton [mailto:notifications@github.com]
Sent: 28 September 2017 10:51
To: datasciencecampus/sdg-indicators <sdg-indicators@noreply.github.com>
Cc: Corp, Ann <ann.corp@ons.gov.uk>; Mention <mention@noreply.github.com>
Subject: Re: [datasciencecampus/sdg-indicators] Commits not going through to live site - can't 'Merge' (#306)

Have updated the wiki<ht

[2017-10-04 12:26] dougmet commented on #303
Opening after auto close. Waiting for SDG review

[2017-10-04 12:40] dougmet commented on #307
We can definitely use Browser Stack

[2017-10-04 16:17] dougmet commented on #177
Indicator 14-1-1 has one of these. Also the wiki is updated [here](https://github.com/datasciencecampus/sdg-indicators/wiki/Metadata-format)

[2017-10-05 11:45] dougmet commented on #334
I did this when I needed pandas on #303

[2017-10-05 11:45] #334 closed

[2017-10-05 11:55] dougmet commented on #50
This is actually happening now (forgot to tag the ticket) in a limited sense. The build on travis (not using any fancy modules, still gh-pages compliant), from the *master* branch, pushes the `_site` directory via ssh to another GitHub repo. Keys are encrypted in travis.

[2017-10-05 11:56] dougmet commented on #50
So to answer the issue with PAT tokens. I went down and SSH-key route because these keys are unique to a project *not* a user. This mitigates the issue of someone leaving and we don't have a valid PAT.

[2017-10-05 11:58] #339 closed

[2017-10-05 11:59] dougmet commented on #339
https://github.com/datasciencecampus/sdg-indicators/wiki/Permissions-for-Adding-Data

[2017-10-05 11:59] AnnCorp commented on #303
Ok to close - new data inputters will test as add more data

[2017-10-05 11:59] #303 closed

[2017-10-05 12:00] AnnCorp commented on #177
OK to close. New data inputters will trial as they add more data.

[2017-10-05 12:00] #177 closed

[2017-10-05 12:01] AnnCorp commented on #314
SDG team yet to supply content - to follow soon!

[2017-10-05 12:25] AnnCorp commented on #310
Meeting scheduled with Andy for 9 Oct.
Need updated idea of footprint ie any further reductions with reduced image sizes (any more work to do with this)

[2017-10-05 12:26] AnnCorp commented on #337
Meeting set up with Andy Dudfield 9 Oct.

[2017-10-05 12:29] #286 closed

[2017-10-05 12:36] AnnCorp opened #349 "Bulk update to additional info where indicators not reported online"
Need to add info to additional info box where exploring data or stats in progress - help mabnage user expectations when they see a page with no graph or table.
Have some draft text from claudia - will add here.

[2017-10-05 12:39] AnnCorp opened #350 "Bulk upload of additional info where not yet reported online"
Need to add info to additional info box where exploring data or stats in progress - will help clearly communicate to users what the indicator status is when they see a page with no graph or table and page just starts with Metadata.
Have some draft text from Claudia Wells - will add here...
Need to do this now before start actively editing the additional info.

[2017-10-05 12:43] AnnCorp opened #351 "'Select all' option for disaggregations"
Currently have to individually select all the options within a disaggregation but also need option to to turn them all on or clear them all.

[2017-10-05 12:46] dougmet commented on #223
I've changed the name of the special column to `Units`

[2017-10-05 12:47] AnnCorp commented on #129
Closing this general ticket - will replace with specific ones.

[2017-10-05 12:47] #129 closed

[2017-10-05 12:49] MaxEngledew commented on #223
Thanks - we'll put them under that from now on!

[2017-10-05 12:49] dougmet opened #352 "Hierachical Filter"
Where there are parent-child relationships between disaggregation columns. The child should not be available to choose unless the parent has been selected.

Remaining tasks:

- [x] Group columns in parent-child order #998
- [x] Visual hints of child categories #1001

[2017-10-05 12:52] AnnCorp commented on #103
Closing this ticket and will have specific one with more detailed requirements agreed at SDGs meeting 5 Oct

[2017-10-05 12:52] #103 closed

[2017-10-05 12:58] AnnCorp opened #353 "Need bar chart option fully working"
In metadata already exists to select bar or line chart. Doug advised may need more work to ensure this is fully working.
Instances where may want bar chart are where there is only 1 time period or if not continuous time series.

[2017-10-05 13:03] dougmet opened #354 "Graph is squashed"
This is not the most extreme example I've seen but the graph is looking more and more squashed as extra footnotes and select boxes are added

![image](https://user-images.githubusercontent.com/5878305/31228581-e9a68c66-a9d5-11e7-8a9d-6cfec108e1c3.png)

[2017-10-05 13:05] AnnCorp commented on #350
Exploring data sources
We are still looking for a suitable data source for this indicator. Please contact use if you think you can help by emailing SustainableDevelopment@ons.gov.uk
In the future we plan to split this category so we can show you which indicators represent data gaps are currently in development and which are still left to look at.

Statistics in progress
We have found a suitable so

[2017-10-05 13:09] AnnCorp commented on #349
Exploring data sources
We are still looking for a suitable data source for this indicator. Please contact use if you think you can help by emailing SustainableDevelopment@ons.gov.uk
In the future we plan to split this category so we can show you which indicators represent data gaps are currently in development and which are still left to look at.

Statistics in progress
We have found a suitable so

[2017-10-06 07:29] MaxEngledew commented on #223
@dougmet How does it/will it pick the default? Is this something we can choose ourselves through the layout of the csv?

[2017-10-06 11:46] MaxEngledew commented on #143
@dougmet This has still not been resolved the latest list of UN indicators and revisions can be found [here](https://unstats.un.org/sdgs/indicators/indicators-list/). This affects a lot of indicators as there has been additions, removals, and revisions. The tool needs to align with the UN list.

[2017-10-06 17:07] dougmet commented on #354
Here's how it looks on iOS for me as well:
![squashgraph](https://user-images.githubusercontent.com/5878305/31289610-3a8d6aaa-aac1-11e7-8a99-4c1ba612e06a.jpg)

[2017-10-09 08:41] shaneporter commented on #354
hi @dougmet - my graphs aren't squashed, and I've tried resizing the browser to see things at different viewport widths, but still no squashing.

What browser/version are you using? Thanks.

[2017-10-09 10:03] dougmet commented on #354
The iOS one is Safari on iOS 11.0.2.  The Chrome one I seem unable to reproduce today. But it was Chrome  61.0.3163.100

[2017-10-09 10:05] dougmet opened #368 "Check metadata for 8-2-1"
Hi @MaxEngledew, could you check the metadata for 8-2-1? There's a US left in there, possibly just the graph title.

https://datasciencecampus.github.io/sdg-indicators/8-2-1/

[2017-10-09 10:15] dougmet commented on #352
For auto-detection of parent child we used the following rule, for imaginary column's `A` and `B`

| Year | A | B | Value
|:-----|:---|:---|-----:|
| 2015 | A1 | B1 | 1.001 |
| 2015 | A1 | B2 | 1.001 |
| 2015 | A2 | B1 | 1.001 |
| 2015 | A2 | B2 | 1.001 |

1. If `B` is never present without `A` then `B` is a child of `A`
2. If `A` is never present without `B` then `A` is a child of `B`
3. If both

[2017-10-09 10:16] dougmet commented on #352
@shaneporter is the above easy to implement in JS or would you like more examples?

[2017-10-09 10:51] MaxEngledew commented on #368
@dougmet You're right no idea why that was left/added in the first place! Fixed by #369

[2017-10-09 11:07] dougmet commented on #337
After discussion with Andy we are going to have the headline indicator data (one value per year) visible without JS. Also need to hide the "Clear Selections" button and search box.

If easy (only if easy!) if the metadata could also be visible that'd be great.

[2017-10-09 17:33] shaneporter opened #388 "Progressive Enhancement - Headline Indicator Data"
Headline Data should be visible without JS enabled.

[2017-10-09 17:34] shaneporter opened #389 "Progressive Enhancement - Clear Selections"
Clear Selections is always visible, regardless of whether JS is enabled. Change code so that it is only shown when JS is enabled.

[2017-10-09 17:34] shaneporter opened #390 "Progressive Enhancement - Indicator Search"
Indicator search isn't functional without JS enabled, so it should not be visible with JS disabled.

[2017-10-09 17:35] shaneporter opened #391 "Progressive Enhancement - Display Metadata"
Metadata is currently hidden in a tab's content, switchable only if JS is enabled.

Metadata should be visible to all visitors, irrespective of JS.

[2017-10-09 17:37] shaneporter commented on #337
I've split these issues out:

Headline data visibility: #388
Clear selections: #389
Search box: #390
Metadata: #391

[2017-10-09 21:51] shaneporter commented on #388
Is it possible to generate the 'headline data' in another file, as part of the build @dougmet?

Doesn't seem a way to loop through the existing CSV with Jekyll and check for rows with only the 'year' and the 'value' fields set.

[2017-10-09 21:53] #354 closed

[2017-10-09 21:54] #390 closed

[2017-10-09 21:55] #389 closed

[2017-10-09 22:01] dougmet commented on #388
As it stands I can't do that without moving the build completely over to Travis. Which we can do (I've solved most of the problems around this) but is quite big change. I understand the issue, will have a think about it.

[2017-10-10 09:31] shaneporter commented on #388
Had another look, and there's doesn't seem to be anything that's robust enough. Another suggestion is to add another column, `is_headline`, set to `true` for those 'headline' rows, but it's probably not ideal since it'll involve a huge data update and ongoing maintenance and other code changes.

[2017-10-10 10:17] AnnCorp commented on #143
@dougmet Pls could you make this your top priority job -  we need to get the indicators matching the UN versions asap. We can discuss if anything needs to slip down the list to accommodate this.
Please could you liaise with @MaxEngledew if theres any work you need his team to do to get the list from UN into a better format for you to load.

[2017-10-10 10:21] AnnCorp commented on #349
Duplicate of #349

[2017-10-10 10:21] #349 closed

[2017-10-10 10:31] AnnCorp commented on #354
Just to say I'm not getting the squashed graphs today either and was getting lots of problems with it.  I'm on Chrome 55.0.2883.75 m

[2017-10-10 10:34] shaneporter commented on #354
Fixed the issue it seems (the graph's height was based on the screen height, and for devices with smaller screens, they graphs would typically be squashed).

[2017-10-11 07:41] AnnCorp commented on #350
@dougmet We need to change the wording for the 'Exploring data sources' one  please - my fault, sorry. Just need the following bit, not the second sentence:
We are still looking for a suitable data source for this indicator. Please contact use if you think you can help by emailing SustainableDevelopment@ons.gov.uk

[2017-10-11 08:31] AnnCorp commented on #314
@dougmet will email you the initial text - sorry for delay.

[2017-10-11 09:14] #314 closed

[2017-10-11 09:28] dougmet commented on #388
OK, I think I'd rather move the build to Travis than do that. Leave with me.

[2017-10-11 09:41] dougmet commented on #143
Hi @AnnCorp, I'm starting to pick this up now. It's a pretty big data merge and I'm building some tools to help me.

[2017-10-11 09:44] AnnCorp commented on #143
Great - thanks. More of your useful tools to keep for reuse then…

From: Douglas Ashton [mailto:notifications@github.com]
Sent: 11 October 2017 10:42
To: datasciencecampus/sdg-indicators <sdg-indicators@noreply.github.com>
Cc: Corp, Ann <ann.corp@ons.gov.uk>; Mention <mention@noreply.github.com>
Subject: Re: [datasciencecampus/sdg-indicators] Outdated Indicators (#143)

Hi @AnnCorp<https://github.

[2017-10-11 12:17] AnnCorp opened #418 "Search should not be case sensistive"
Search is case sensitive but shouldn't be eg if search for 'Death' get different results to if search for 'death' , but should get the same results for both. Another example is 'Mortality' and 'mortality'
Something to include in the final sprint.

[2017-10-11 13:58] dougmet commented on #350
OK, that was quite simple as it's just a removal.

[2017-10-11 14:30] AnnCorp commented on #350
Looks good thanks - ok to close.

[2017-10-11 14:30] #350 closed

[2017-10-11 21:45] dougmet commented on #143
Killing the original branch for this and starting again on `b/143`

[2017-10-13 09:09] MaxEngledewAdmin commented on #243
@dougmet This seems to have happened again with #422

[2017-10-13 10:16] shaneporter commented on #243
Yep, this is because of a JS error, which can be seen in the console:

[code]

That `value` isn't correct (its an invalid string), but I'm not sure where it's coming from. Will investigate, but if it's not happening elsewhere, it's possibly a data issue or edge case.

[2017-10-13 10:38] shaneporter commented on #243
Cote d'Ivoire is causing us an issue.

[2017-10-13 10:58] MaxEngledewAdmin commented on #243
Oh right - we'll switch it to `Ivory Coast`

[2017-10-13 11:01] shaneporter commented on #243
Thanks - although there _may_ be another issue too, but I'll take a look.

[2017-10-13 13:39] #143 closed

[2017-10-13 13:50] dougmet commented on #143
Wow, this turned out to be complicated! Lots of files needed updating. I've now got it all scripted.

FYI @AnnCorp and @MaxEngledew it's a bulk metadata update and this will cause issues for inbound PRs. Sorry about this, I had to squeeze it in before the gh-pages branch updated again (which makes me have to start again).

You can either manually fix the conflicts in GitHub or you can resubmit tho

[2017-10-13 13:51] dougmet commented on #143
Up to 244 now though :-)

![image](https://user-images.githubusercontent.com/5878305/31549410-01f4019e-b026-11e7-999f-001d29f8e3fa.png)

[2017-10-15 19:37] #418 closed

[2017-10-15 19:46] #368 closed

[2017-10-15 19:48] dougmet opened #461 "Graph title for 5-4-1"
I think the graph title might be wrong. It says women in the title but that's just one of the disaggregations.

https://datasciencecampus.github.io/sdg-indicators/5-4-1/

[2017-10-15 19:49] dougmet commented on #223
Good point @MaxEngledew, I'm not totally sure yet but I'd guess it'll be in order that they appear.

[2017-10-16 06:45] MaxEngledewAdmin commented on #461
@dougmet thanks! We'll pick this up in indicator QA - Prioritizing those which are on the tool already so this should be fixed soon.

[2017-10-16 07:11] MaxEngledewAdmin commented on #243
We've removed all superscript from 17.9.1 #459 - doesn't seem to have fixed the issue

[2017-10-16 07:51] MaxEngledewAdmin commented on #143
@dougmet New pull requests still say they are out of date with the base branch - what should we be doing. Hitting update?

[2017-10-16 13:33] dougmet commented on #461
If the words `fixes #461` are in the commit message then this ticket will automatically close when he update goes in.

[2017-10-16 13:56] dougmet opened #487 "Text for headline download"
It's not clear enough what the download buttons do.

![image](https://user-images.githubusercontent.com/5878305/31615595-f331d66e-b281-11e7-91bc-0632a2ed634a.png)

The top button here downloads the source (this is correct, its the raw data). The bottom button downloads the headline data only. The reason it's not too clear is that the data used to update dynamically. Recommend we change this to "Do

[2017-10-16 20:02] AnnCorp opened #489 "Buttons download wrong data"
On the indicator pages there's two download buttons - one for the headline source data and one for full indicator data.  They seem to be pulling the opposite data to whats expected eg the 'Download all indicator data' pulls up the headline data only.

[2017-10-17 20:26] shaneporter opened #513 "Field selection 'bar' width doesn't always update"
To reproduce, select a single item in a single field, note that the 'selection bar' increases in width.

Deselect the checkbox, and note that its width does not return to 0.

[2017-10-17 22:34] #240 closed

[2017-10-17 22:34] #351 closed

[2017-10-17 22:34] #513 closed

[2017-10-18 07:58] MaxEngledewAdmin opened #516 "Previous years not displaying for 3.b.1"
Despite previous data being available, we can only see 2017 data in [3.b.1](https://datasciencecampus.github.io/sdg-indicators/3-b-1/).

[2017-10-18 08:40] dougmet opened #522 "Auto Detect Parent-Child Relationships"
Python script to detect dependencies between columns. Write out to the data/edges directory.

[2017-10-18 16:40] #522 closed

[2017-10-18 16:44] dougmet commented on #516
Hi @MaxEngledewAdmin ,

This is an interesting case. There doesn't appear to be any headline data. As is every column has an Age and Vaccine value. If one of these is a Units column then we could rename it. However, there's no aggregated columns.

[2017-10-18 16:51] dougmet commented on #516
Reading the indicator description we really need an aggregated version rather than only the breakdowns

[2017-10-18 16:52] dougmet commented on #516
Oh, spoke a little too soon. I see what you mean about 2017. OK, will investigate.

[2017-10-18 16:53] dougmet commented on #516
This link is so that I don't have to keep clicking back and forth: https://github.com/datasciencecampus/sdg-indicators/blob/gh-pages/data/indicator_3-b-1.csv

[2017-10-18 16:56] dougmet opened #541 "Automatically create headline data"
Create a python script to pre-process the indicator data to create a headline-only version. Put them in the `data/headlines` directory.

[2017-10-18 17:06] #541 closed

[2017-10-18 17:06] dougmet commented on #388
Build side is done in #541 but will need to be plumbed into the cibuild.sh file once we move to develop.

[2017-10-19 06:58] AnnCorp commented on #487
Max and I suggest as well as having more explicit labels, then could help to position the buttons closer to each other.

[2017-10-19 10:45] dougmet opened #555 "Footer"
@AnnCorp  will confirm the text

[2017-10-19 10:55] dougmet opened #558 "Publications page"
In identical manner to the about page. Once initial text is received add this to the site.

Document update process in the wiki.

[2017-10-19 11:43] dougmet commented on #223
Fixed in ffc2cf7ffe13eec3bd27cbd98322f8d2552aae98

[2017-10-19 11:43] #223 closed

[2017-10-19 11:54] dougmet commented on #516
This is also an issue in [2-3-1](https://datasciencecampus.github.io/sdg-indicators/2-3-1/)

[2017-10-19 11:56] dougmet commented on #487
Duplicate of #489

[2017-10-19 11:59] AnnCorp commented on #461
@MaxEngledew am closing this ticket as you'll be sorting this within your team

[2017-10-19 11:59] #461 closed

[2017-10-19 12:01] AnnCorp commented on #329
Agreed not priority for Sprint 8

[2017-10-19 12:02] AnnCorp commented on #136
Confirmed Sprint 8

[2017-10-19 12:05] dougmet opened #562 "Keep staging site off search engines"
With a robots.txt?

[2017-10-19 12:07] dougmet opened #563 "No trailing whitespace in column headings"
* Add into `csvcheck.py`
* Fix any failing datasets

[2017-10-19 12:07] dougmet commented on #563
Or leading whitespace to be honest

[2017-10-19 12:13] AnnCorp commented on #307
Discussed with head of Publishing (Andy). As per the GDS guidelines, need to be compliant with commonly used browsers (see GDS link at top) . Priority is that that are no poss errors in interpretation of data due to any issues around browsers etc.
The quick automated test from Digital Accessibility Centre (DAC) raises some compatibility issues, though mostly with older browser versions.
We have pr

[2017-10-19 12:17] AnnCorp opened #564 "Add 'Guidance' page"
Need a page from which can link to the wiki and then to the further US material.
Ann to provide some initial text then we'll add more once page set up.

[2017-10-19 12:23] AnnCorp opened #565 "Add FAQ page"
To link from the About page and from the persistent footer.
Ann to provide initial text.

[2017-10-19 12:29] AnnCorp commented on #555
As a minimum will want:
some form of 'Contact us' which initially could just fire up an email to sustainabledevelopment@ons.gov.uk
FAQ (separate ticket)
Will not contain other stuff in standard ONS footer (eg no OGL stuff)

[2017-10-19 12:35] dougmet opened #566 "Accessibility: CSS units"
Use relative rather than absolute units in CSS property values.

https://datasciencecampus.github.io/assets/css/style.css?v=7626f0c006a9834988aae5c9fffef51c82a26fdb line 105
https://datasciencecampus.github.io/sdg-indicators/assets/css/default.css?v=20171010134536 line 37  132 150 162 ...
	Guideline: WCAG 2.0 AA 1.4.4 Section 508 (2017) AA 1.4.4

[2017-10-19 12:36] dougmet opened #567 "Accessibility: color attributes"
If you set any of the colors on the BODY or A elements you must set all of them.

https://datasciencecampus.github.io/assets/css/style.css?v=7626f0c006a9834988aae5c9fffef51c82a26fdb line 105 106
https://datasciencecampus.github.io/sdg-indicators/assets/css/default.css?v=20171010134536 line 4
	Guideline: WCAG 2.0 AA F24 Section 508 (2017) AA F24

[2017-10-19 17:47] #563 closed

[2017-10-20 07:47] AnnCorp commented on #558
@dougmet Here's the intitial text from Jo
[Publication page text.docx](https://github.com/datasciencecampus/sdg-indicators/files/1401111/Publication.page.text.docx)

[2017-10-20 12:45] gingerbenw commented on #487
There are also some issues with button colours, after clicking a button to download a CSV, it changes to blue. Is this intended, or would we like to create some more rules to ensure the buttons don't change colour?

[2017-10-20 12:54] AnnCorp commented on #487
I don't think it should change colour like this - while we're not branding as ONS, reckon should be consistent with what we do for something like this on main ONS website  and we don't change colour. Example here https://www.ons.gov.uk/economy/inflationandpriceindices/bulletins/consumerpriceinflation/september2017
Sometime in future, likely want to add an option to download an image too, so may wi

[2017-10-20 13:24] dougmet commented on #307
I have a browser stack account. Extremely quick visual report:

Windows XP
IE 8-9 the chart doesn't work. IE 10 it does. IE 11 looks good.
On IE 8 the metadata tabs are visible but don't concertina. This doesn't greatly impact usability.
IE 6 is very bad, but we are not supporting this.

Mac OS
Safari 7 (old) looked good.
Firefox 5.4 looked good

We're not going to fix the charts in IE 8/9 but it

[2017-10-20 14:45] gingerbenw commented on #487
![screen shot 2017-10-20 at 15 42 47](https://user-images.githubusercontent.com/24570483/31826658-8b3fb754-b5ad-11e7-9e20-8ed8d8f4f46d.png)

Buttons moved and relabelled, they no longer change colour and the CSV is now forced as a download instead of opening in another window in certain browsers

[2017-10-20 16:26] dougmet commented on #558
I've done this, but it looks like I've hit some size limit on the number of pages links:
![image](https://user-images.githubusercontent.com/5878305/31831547-c630ce44-b5bb-11e7-9702-a643fb09b01f.png)

@gingerbenw would it be possible to extend the area? Or will this have a bad effect on mobile sites?

[2017-10-20 16:27] dougmet commented on #558
I'm working in branch `e/558`

[2017-10-20 16:36] dougmet commented on #341
This will be a team effort between @gingerbenw and myself. Ben's setting up an analytics project for this and I'll add the tracking ID into the Travis build so that it only gets deployed in production. Assigning to Ben for now and once you've sent me (not here) the tracking ID assign it back to me

[2017-10-20 22:08] dougmet opened #615 "Browsers: IE8 / IE9 show headline data"
We are required for the website to be "functional" for IE 8-10. 10 is fine but 8-9 are not showing the chart or the data. We can live without the chart but the data should show.

I propose that we link this to #388. If it's possible we could use the same strategy. If you're in IE<10 then leave the simple headline table instead. If there's an elegant way to do it then great, if there are a load of

[2017-10-20 22:15] dougmet commented on #307
See #615 for IE 8 / 9 thoughts

[2017-10-20 22:26] dougmet commented on #388
This links up with considerations for browser support. See #615

[2017-10-21 10:17] dougmet commented on #50
As of today we've switched to full Travis build.

`develop` branch deploys the `_site` directory back to `gh-pages` in this repository as the staging site
`master` branch deploys to the production repository.

[2017-10-21 10:20] dougmet opened #617 "Notify of failed deployment"
We need good communication of a failed deployment. Might need to change how things are configured in Travis.

I like having the deployment in `after_success` but if it fails to staging or prod we need to be notified.

[2017-10-21 16:12] #50 closed

[2017-10-21 20:24] dougmet commented on #617
Fixed by b73b27c4e Switched to using `deploy` with `provider: script` which runs after a successful build but breaks the (overall) build if it fails. See https://docs.travis-ci.com/user/deployment/script for documentation.

[2017-10-21 20:24] #617 closed

[2017-10-23 11:07] gingerbenw commented on #558
this collapses into a dropdown on mobile, so that wouldn't be a problem. should be a simple fix with a couple of css rules

[2017-10-23 11:20] gingerbenw commented on #558
![mobile](https://user-images.githubusercontent.com/24570483/31886506-6edaf970-b7ec-11e7-8a08-9f05a4e0758b.png)
![small](https://user-images.githubusercontent.com/24570483/31886507-6ef2b042-b7ec-11e7-8ac6-d1c9f19d4241.png)
![normal](https://user-images.githubusercontent.com/24570483/31886508-6f099668-b7ec-11e7-8576-fe1a2dcb2fd7.png)

The 'small' version of the page has some strange spacing issues,

[2017-10-23 11:36] gingerbenw commented on #558
![screen shot 2017-10-23 at 12 35 56](https://user-images.githubusercontent.com/24570483/31887039-bcff01f8-b7ee-11e7-8645-49abe2321a2a.png)

Fixed :)

[2017-10-23 13:59] dougmet commented on #562
Because the staging site does not own its root location we're opting for a meta tag in html:
[code]

[2017-10-23 14:20] dougmet commented on #341
This is live on prod. Contact me for details.

[2017-10-23 14:20] #341 closed

[2017-10-23 14:21] dougmet commented on #558
This is done. How does it look @AnnCorp ?

[2017-10-24 08:52] dougmet commented on #562
That didn't work. Will go back and check.

[2017-10-24 08:56] dougmet commented on #562
That's embarrassing. It did work.

[2017-10-24 08:56] #562 closed

[2017-10-24 10:17] AnnCorp commented on #558
With Jo Evans for review - awaiting feedback...

[2017-10-24 13:24] gingerbenw commented on #566
Updated and pull request created

[2017-10-25 10:15] MaxEngledewAdmin commented on #516
This is  affecting all indicators which don't have headline data (e.g [5.b.1](https://datasciencecampus.github.io/sdg-indicators/5-b-1/)). I've noticed it works if you deselect the headline line.

[2017-10-25 10:25] AnnCorp commented on #558
Jo reviewed and Max and i made minor tweaks ourselves so OK to close.

[2017-10-25 10:25] #558 closed

[2017-10-25 11:19] AnnCorp opened #685 "Remove dummy data eg 14.1.1"
Need to remove any dummy data eg 14.1.1 - are there any others we know of?
@MaxEngledewAdmin do you want to do this so you can copy the markdown somewhere re how the table was set up etc (incase want to reuse) - there's links to the markdown guidance from the wiki

[2017-10-25 11:42] MaxEngledewAdmin commented on #685
@AnnCorp No problem.

With regards to the issue title. Is it a problem if there's dummy data on unreported indicators as the data won't display anyway? I think 14.1.1 is the only dummy data that is displaying.

[2017-10-25 12:17] AnnCorp commented on #565
@dougmet Here's some initial text for the FAQ. We discussed potential requirement for being able to link to specific entries too.
[FAQ draft text.docx](https://github.com/datasciencecampus/sdg-indicators/files/1414495/FAQ.draft.text.docx)
Once this is in, we'll test being able to add more entries ourselves.
[PS have no ONS email today so pls ring on mobile if any urgent queries]

[2017-10-25 13:01] MaxEngledewAdmin opened #688 "8.4.1 Disaggregation not displaying"
[8.4.1](https://datasciencecampus.github.io/sdg-indicators/8-4-1/) Any idea why this specific Unit's disaggregation isn't showing. The data looks fine to me and the other unit of measure is working.
![capture](https://user-images.githubusercontent.com/32291046/31999714-2cb35b18-b98c-11e7-91b1-cd09feb1963a.PNG)

 Even more curiously if you switch the 'UK' line off it switches the Y axis to the othe

[2017-10-25 17:55] dougmet commented on #555
Hi @gingerbenw if you're able to reinstate the footer with just the contact us part. We'll FAQ when the page exists.

[2017-10-25 17:56] dougmet commented on #565
Link in footer #555

[2017-10-25 19:08] dougmet commented on #555
FAQ is now in.

[2017-10-25 19:15] dougmet commented on #567
Actually this doesn't seem so bad. So I think we need to add colours here https://github.com/datasciencecampus/sdg-indicators/blob/3474a4a4841bd53328ea1690a43892827912305f/assets/css/default.scss#L37 or maybe we just need to set a default for `<a>` tags?

[2017-10-25 19:17] dougmet commented on #567
Reading it I think it's background colours for all the `<a>` tags and maybe `<body>` too. That's my guess.

[2017-10-25 19:51] dougmet commented on #555
@gingerbenw I've started on this and was about to merge but thought I'd check with you as it's not quite how I remember it looking.

[2017-10-26 07:24] AnnCorp commented on #555
@dougmet  @gingerbenw  our Publishing team didn't want the same look and feel for footer as main ONS site (different branding etc) so need to bear that in mind please.

[2017-10-26 07:52] AnnCorp commented on #565
I think we should actually also link this to the primary menu bar too please - will give more prominence.

[2017-10-26 10:23] dougmet opened #705 "Build: Report line numbers of csv issues"
In particular for the trailing/leading whitespace checks. If we report the line numbers it makes it easier for the data entry folk to find the issue.

[2017-10-26 10:37] dougmet commented on #136
I initially added this to the right hand side but it needs to move back to left hand side.

[2017-10-26 11:22] AnnCorp opened #711 "Wiki entry re develop/master set up etc"
Need some documentation in the wiki on the new set up with develop and master etc.
Will be useful for anyone copying our site, but also for anyone jumping in to help out on the project in next few weeks.

[2017-10-26 11:26] AnnCorp commented on #615
Just discussed with Andy, head of our Digital Publishing Service.
IE9 widely used in government so prioritise being functional in that, ahead of any issues with IE8.

[2017-10-26 12:09] dougmet commented on #388
As discussed some adaptation of this may help:

[code]

[2017-10-26 13:48] #388 closed

[2017-10-26 14:06] dougmet commented on #388
This is how it currently looks without JS
![image](https://user-images.githubusercontent.com/5878305/32057461-389a5872-ba5f-11e7-8fbb-33fec872f701.png)

The metadata changes will likely have to stack up the data and metadata

[2017-10-26 14:19] gingerbenw commented on #567
body tag already had a colour set, I have now set a default for <a>, which uses a variable set at the top of the css.

I can't find any backgrounds which are currently set as an image without also having a colour set, which is good!

[2017-10-26 15:09] gingerbenw commented on #567
![screen shot 2017-10-26 at 16 07 09](https://user-images.githubusercontent.com/24570483/32060816-cd268bc0-ba67-11e7-8e83-a48696d32b97.png)

High contrast mode tested - all appears to be functioning

[2017-10-26 15:14] gingerbenw commented on #567
![screen shot 2017-10-26 at 16 13 31](https://user-images.githubusercontent.com/24570483/32061101-a62ce810-ba68-11e7-85a5-999892ee268f.png)

It appears background colors are also disabled in high contrast mode

[2017-10-26 15:32] dougmet commented on #567
Hi @gingerbenw, OK great. I think we should refer our accessibility testers here and if there's still an issue then we'll target it more directly.

[2017-10-26 15:50] dougmet commented on #391
If you set all of the tabs to "active" and all of the collapsibles to "expanded" then you see everything. When the JS appears it could go through and deactivate and collapse the right things. This is how it would look with JS switched off

![image](https://user-images.githubusercontent.com/5878305/32062906-c499417c-ba6d-11e7-9160-5bfe31f4099a.png)

[2017-10-26 20:58] dougmet commented on #615
I think IE8 is out (for the charts) because it doesn't support the `<canvas>` element. IE9 could in principle take the charts. @shaneporter if you get a chance to look after the filtering (I can sort you with browserstack) maybe it'll be clearer for you.

As far as I can tell the only issue with IE9 is that chart not showing.

[2017-10-26 21:11] shaneporter commented on #615
I might use this: https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/, for that.

[2017-10-26 22:06] shaneporter commented on #615
The issue relates to https://github.com/chartjs/Chart.js/issues/4742.

Despite some suggestions on that thread, it seems that there are some issues with chartjs and IE9.

[2017-10-26 22:09] shaneporter commented on #391
Thanks for the pointers @dougmet

[2017-10-26 23:48] dougmet commented on #615
Good find with the MS tools. Looks like it uses browserstack behind the scenes anyway!

[2017-10-27 12:09] dougmet commented on #711
I'm filling this in slowly. The release procedures will go here: https://github.com/datasciencecampus/sdg-indicators/wiki/Deploying-with-Travis#deployment-procedure

[2017-10-27 12:18] AnnCorp commented on #565
@dougmet Could we make the various entries collapsible please? Not sure how much effort this is? Planning to add quite a few more entries so would help navigation.

[2017-10-27 12:40] shaneporter commented on #615
The Microsoft resources are VMs; there's a BrowserStack ad on there for free Edge testing on their service.

[2017-10-27 14:35] shaneporter opened #851 "'Clear selections' shown when there are no 'sub-categories'"
I noticed that for indicator 3.3.3 (status: Reported Online) that there are no 'sub-categories', yet the 'clear selections' and column (in wider viewports is still shown), wasting space _and_ confusing the user.

<img width="400" alt="screen shot 2017-10-27 at 15 28 53" src="https://user-images.githubusercontent.com/2493614/32109266-1efcf3a2-bb2c-11e7-9b4c-ef5b4d858cfb.png">

[2017-10-27 15:10] #391 closed

[2017-10-27 17:16] #851 closed

[2017-10-27 17:51] #615 closed

[2017-10-30 09:25] dougmet commented on #307
IE 9 is now functional thanks to the poylfill that @shaneporter implemented. IE 8 is as functional as it can be given that it doesn't support canvas elements. We now have good browser coverage.

[2017-10-30 12:55] dougmet commented on #337
With the closing of #391 this is working really well without JS now.

[2017-10-30 12:55] #337 closed

[2017-10-31 07:56] AnnCorp commented on #307
@dougmet @shaneporter Sounds good re IE9!
Re IE 8 please what actually displays when the charts don't work - could you chuck a screen shot in here please so I can show Andy.

[2017-10-31 09:36] dougmet commented on #615
Doug to add a print screen and then resolve

[2017-10-31 09:40] dougmet opened #856 "Runaway headline data table"
See for example 3-2-1

![image](https://user-images.githubusercontent.com/5878305/32217310-837a8984-be1f-11e7-97c7-e68ea0f8117e.png)

[2017-10-31 09:45] dougmet commented on #352
For a minimum version I think we need to give a visual hint that parents have children.

[2017-10-31 09:59] dougmet commented on #555
Remove we welcome your feedback

[2017-10-31 10:06] dougmet commented on #487
Button has vanished! When it's back, let's try a few configurations and paste results here.

[2017-10-31 10:13] dougmet commented on #136
Where has this gone?

[2017-10-31 10:16] #567 closed

[2017-10-31 10:16] #489 closed

[2017-10-31 11:23] gingerbenw commented on #856
The button is no longer being added as this test was not passing.

`if(window.Modernizr` && window.Modernizr.blobconstructor)`

Do we actually need this test or can we just add the button regardless? this works just fine if JS is disabled.

[2017-10-31 11:24] gingerbenw commented on #856
![screen shot 2017-10-31 at 11 23 51](https://user-images.githubusercontent.com/24570483/32221593-025285e6-be2e-11e7-98fe-150a3de545d2.png)

[2017-10-31 11:46] gingerbenw opened #857 "Download headline CSV button gone missing"
![32217310-837a8984-be1f-11e7-97c7-e68ea0f8117e](https://user-images.githubusercontent.com/24570483/32222442-2ea3d70a-be31-11e7-96fb-3f5642de6674.png)

[2017-10-31 11:47] gingerbenw commented on #857
The button is no longer being added as the code to add the button was nested within a test that was not passing.

`if(window.Modernizr && window.Modernizr.blobconstructor)`

Do we actually need this test or can we just add the button regardless? this works just fine if JS is disabled.

[2017-10-31 12:10] gingerbenw commented on #487
Raised a bug ticket #857 - Have posted a fix there.

[2017-10-31 12:48] gingerbenw commented on #565
[code]

[2017-10-31 13:00] gingerbenw commented on #555
Could I also suggest that we add the class `text-right` to the `col-md-6` that contains the 'Frequently Asked Questions' in the Footer, which would result in:

![screen shot 2017-10-31 at 12 58 46](https://user-images.githubusercontent.com/24570483/32224953-49bd2fb4-be3b-11e7-9dea-235be3969a8c.png)

[2017-10-31 15:02] #856 closed

[2017-10-31 16:05] dougmet commented on #136
Looks like a merge in the indicator layout removed this. Now restored. @MaxEngledewAdmin could you take a look at https://datasciencecampus.github.io/sdg-indicators/14-1-1/ and let me know if this is what you're after?

[2017-10-31 16:21] dougmet commented on #307
So on IE 8 it looks like this (apologies for resolution) and ou can click the metadata/source tabs

![bs_win7_ie_8 0 1](https://user-images.githubusercontent.com/5878305/32235511-92fd2d02-be57-11e7-9189-2fdc3abce4ef.jpg)

[2017-10-31 16:23] dougmet commented on #307
The strangest thing with IE 8 is the front page, which looks like the mobile site.

![bs_win7_ie_8 0](https://user-images.githubusercontent.com/5878305/32235593-c96d05f6-be57-11e7-9fc9-c85a845d6dd6.jpg)

[2017-10-31 16:23] #307 closed

[2017-10-31 16:24] dougmet commented on #615
see #307  for screen shots

[2017-10-31 16:38] dougmet commented on #565
Hi @AnnCorp how does it look now?

We're going to do something about pinning the footer to the bottom but that will be a separate ticket

[2017-10-31 17:27] dougmet commented on #352
@gingerbenw can do some of this with CSS. The other issue is the ordering of fields. Children need to sit immediately under their parents. One suggestion is that we reorder the columns build-side. So I would rewrite each indicator reordering the columns so that parent-child-grandchild ordering is correct.

[2017-10-31 21:53] shaneporter commented on #352
I was thinking about the ordering, and could do this fairly easily in the JavaScript.

How would CSS alone resolve the 'parents have children' visual hint? When does this need to be done for?

[2017-10-31 21:56] shaneporter commented on #307
IE8 doesn't natively support media queries, so no surprise there. There are solutions out there though, which I've used in the past for this.

[2017-10-31 23:18] dougmet commented on #352
Good news re ordering. We played with CSS subtlety indenting child select boxes instead of hiding them. Would love something more direct though.

The need for the hints is because when the page loads there's no way to know that children exist until you happen to choose a parent.

[2017-11-01 07:26] MaxEngledewAdmin commented on #136
This looks good to me - thanks Doug

[2017-11-01 12:47] #136 closed

[2017-11-01 13:18] dougmet commented on #516
And [4-1-1](https://datasciencecampus.github.io/sdg-indicators/4-1-1/)
![image](https://user-images.githubusercontent.com/5878305/32276446-1886e6b6-bf07-11e7-8e9f-203e50917cdf.png)

[2017-11-01 13:43] dougmet opened #950 "Footer always at the bottom"
As shown in the FAQ. When there is not enough content the footer is high up the page:

![image](https://user-images.githubusercontent.com/5878305/32277496-8b9bf60c-bf0a-11e7-9470-6462c97ade37.png)

We'd like it so that in this situation it sticks to the bottom of the screen. If there is enough content then it can scroll off the bottom. @gingerbenw  has a plan.

[2017-11-01 15:06] dougmet opened #998 "Group categories according to parent child relationships"
The select boxes go down in the order that the source CSV has. They need to be in appropriate order wrt parent-child relationships.

Child of #352

[2017-11-01 15:08] dougmet opened #1001 "Show users that there are children"
In current implementation of the hierachical filter, you only find out there are children when you select an item from a parent. We need a user to know that there are children. Possibly what the children are as well.

Child of #352

[2017-11-01 15:27] #998 closed

[2017-11-01 20:54] #1001 closed

[2017-11-02 07:45] AnnCorp commented on #565
Huge improvement thank you - all good to close.

[2017-11-02 07:45] #565 closed

[2017-11-02 09:52] #555 closed

[2017-11-02 09:53] AnnCorp commented on #487
All sorted.

[2017-11-02 09:53] #487 closed

[2017-11-02 09:54] #857 closed

[2017-11-02 09:55] dougmet commented on #352
Done! Great job Shane.

[2017-11-02 09:55] #352 closed

[2017-11-02 09:57] dougmet commented on #711
Last bit remaining is to document setting up Travis for deployment.

[2017-11-02 10:16] shaneporter commented on #352
Thanks for the edges @dougmet :smile:

[2017-11-02 10:18] gingerbenw opened #1057 "All Pages - High priority A - Skip link"
![screen shot 2017-11-02 at 10 20 12](https://user-images.githubusercontent.com/24570483/32320945-6ddd3bdc-bfb7-11e7-9a08-614906f1710f.png)

The skip link does not work in Internet Explorer, as the keyboard user continues to tab after selecting, focus returns to the top of the page.  This is an issue in Internet Explorer.

**Code Ref(s):** `<div id="main-content" class="container goal-tiles" role=

[2017-11-02 10:21] gingerbenw commented on #1057
**Solution:** Ensure that a tabindex=”-1” is used on the destination element so that focus remains and does not return the user to the top of the page.   Suggested code: <div id="main-content" class="container goal-tiles" role="main" tabindex=”-1”>

[2017-11-02 10:22] gingerbenw opened #1058 "Home Page - High Priority A - Non-descriptive links"
The image links on the home page are not descriptive for users that rely on audio feedback; more context is required.   This applies to all of the image links on this page.

**Current Code Ref(s):** ` <a href="./no-poverty/"><img src="/assets/img/goals/1.png" id="goal-1" alt="icon for Goal 1"></a>`

**Solution:** `<a href="./no-poverty/"><img src="/assets/img/goals/1.png" id="goal-1" alt="No Pover

[2017-11-02 10:24] gingerbenw opened #1059 "Reporting Status - High Priority A - Image links not descriptive"
The image links on the home page are not descriptive for users that rely on audio feedback; more context is required.  This applies to all of the image links on this page.

**Current Code Ref(s):**    `<a href="/no-poverty/"> <img src="/assets/img/goals/1.png" alt="icon for Goal 1" width="100" height="100"> </a>`

**Solution:** As link text is present and both the image and the link take the user

[2017-11-02 10:29] gingerbenw opened #1060 "Home Page - Medium Priority AA - Colour contrast"
This applies to all instances where these colour combinations are used.
**Note:** the colour combinations may not be exact as these were taken from images and not a hex code.

**Current Code Ref(s):**
**Background:** #DDA63A **Foreground:** #FFFFFF
**Background:** #4C9F38 **Foreground:** #FFFFFF
**Background:** #FF3A21 **Foreground:** #FFFFFF
**Background:** #26BDE2 **Foreground:** #FFFFFF
**Backg

[2017-11-02 10:31] gingerbenw opened #1061 "Reporting Status - Medium Priority AA - Headings illogical"
![screen shot 2017-11-02 at 10 31 13](https://user-images.githubusercontent.com/24570483/32321439-0c89ea0e-bfb9-11e7-93a8-70e8a1ba526c.png)

The headings structure throughout the templates is illogical. Screen reader users rely on well-structured headings to determine the layout of the page and relationships between sections of content.  Solution: Ensure headings are logically structured; the `<h1

[2017-11-02 10:33] gingerbenw opened #1062 "About - Medium priority AA - Colour contrast"
![screen shot 2017-11-02 at 10 33 06](https://user-images.githubusercontent.com/24570483/32321517-4936c832-bfb9-11e7-8415-ec337fa1136b.png)

The ratio between the link text and its surrounding text must 3:1, currently this falls below that and can make it difficult for low vision users to locate the links.  This issue is present on the following pages: About / Publications/ FAQ

**Background:** #3

[2017-11-02 10:34] gingerbenw opened #1063 "Medium Priority AA - Headings illogical"
![screen shot 2017-11-02 at 10 34 59](https://user-images.githubusercontent.com/24570483/32321595-828ddd50-bfb9-11e7-81a6-5aec33939530.png)

The headings structure throughout the templates is illogical. Screen reader users rely on well-structured headings to determine the layout of the page and relationships between sections of content.

**Solution:** Ensure headings are logically structured; the

[2017-11-02 10:36] gingerbenw opened #1064 "FAQs - Medium Priority AA - Headings illogical"
![screen shot 2017-11-02 at 10 36 35](https://user-images.githubusercontent.com/24570483/32321659-bada9b80-bfb9-11e7-8f85-2c513fdfda5d.png)

The headings structure throughout the templates is illogical. Screen reader users rely on well-structured headings to determine the layout of the page and relationships between sections of content.

**Solution:** Ensure headings are logically structured; the

[2017-11-02 10:41] gingerbenw opened #1065 "High Priority A - Keyboard navigation for drop-down elements"
The drop-down and accordion elements aren’t accessible to users of assistive technologies as non-interactive elements have been used and customised.  Keyboard only users would expect to be able to navigate to the drop-down box using the tab key and open it with the spacebar or enter key.   Currently, users that navigate with assistive technologies are not able to access the filter options within t

[2017-11-02 10:43] gingerbenw opened #1067 "No poverty 1.2.1 - High priority A - Content not understandable and predictable"
![screen shot 2017-11-02 at 10 43 42](https://user-images.githubusercontent.com/24570483/32321947-b65bd4ba-bfba-11e7-92cb-1a6a7fac7011.png)

The ‘sub-categories’ section is not descriptive for screen reader users; the functionality or purpose of this area is not clear for users that rely on audio feedback.  When a selection has been made the graph updates, however this is not relayed to a screen r

[2017-11-02 10:45] gingerbenw opened #1069 "High priority A - Chart collapses with too many filters applied"
![screen shot 2017-11-02 at 10 45 37](https://user-images.githubusercontent.com/24570483/32322038-fbc28dd2-bfba-11e7-9dcd-59f3913d421c.png)

When all of the check boxes are selected from the three drop-down boxes, the graph is replaced by the list of selections made in the adjacent combo boxes.  This list of selections also overlaps the heading that appeared above the graph, which suggests the gra

[2017-11-02 10:48] gingerbenw opened #1070 "No poverty 1.2.1 - Usability - Data tables"
![screen shot 2017-11-02 at 10 49 47](https://user-images.githubusercontent.com/24570483/32322210-a540ae16-bfbb-11e7-9c78-8c5539d3d641.png)

It may not be clear to screen reader users what the table contains as there is no <caption> element to describe this.

**Current code Ref(s):** `<table class="table-responsive table table-hover dataTable no-footer" id="indicatortable0" role="grid" style="widt

[2017-11-02 10:49] gingerbenw opened #1071 "No poverty 1.2.1 - Usability - Accessible versions"
![screen shot 2017-11-02 at 10 52 23](https://user-images.githubusercontent.com/24570483/32322293-ed1b05d8-bfbb-11e7-9cfb-48d93e62259d.png)

An accessible alternative has been provided for the graph features, however this may not be clear to all users as this appears below the fold; some may not see this and visually impaired users that rely on audio feedback would have to navigate through a lot o

[2017-11-02 10:54] gingerbenw opened #1074 "No Poverty 1.2.2 - High Priority A - Links to non-html documents"
![screen shot 2017-11-02 at 10 54 57](https://user-images.githubusercontent.com/24570483/32322386-4adf4a30-bfbc-11e7-9f5f-5822dcc52aa4.png)

There were links present that opened non-html documents, however this is not clear from the link text itself.

**Current code Ref(s):**
`<a href="https://unstats.un.org/sdgs/metadata/files/Metadata-01-02-01.pdf"> United Nations Sustainable Development Goals M

[2017-11-02 10:56] gingerbenw opened #1075 "High Priority A - Climate Action and Industry, Innovation and Infrastructure - Excess <div> tags"
On line **267** of the 'Climate Action' page and line **303** of the 'Industry Innovation and Infrastructure' source code there is a mismatched `<div>` element. The closing `<div>` is present but there is no matching start tag.  This can cause issues for assistive technologies.

**Solution:** Ensure that all tags are opened and closed correctly.

[2017-11-02 11:08] dougmet commented on #1074
Hi @MaxEngledewAdmin some of this applys to data coming in, so it's something to be aware of. Maybe a bulk fix is more appropriate here.

[2017-11-02 11:09] dougmet commented on #1069
I don't see any easy win here except to limit the number of selections.

[2017-11-02 11:10] gingerbenw commented on #1069
I don't know if it's possible to fix the height of the chart, and cause a stupid number of filters to expand **downwards** ?

[2017-11-02 11:22] gingerbenw commented on #1065
the keyboard navigation can be solved by adding a `tabindex=''` to each expandable item within the template.

[2017-11-02 11:36] gingerbenw commented on #1058
Updated template to contain `alt="{{ goal.short }} - Goal {{ goal.goal }}"` - fixing alt captions for all images on the frontpage

[2017-11-02 12:10] shaneporter commented on #1069
@dougmet - can we get some more clarification on limiting the number of selections? I agree it's the only way, but some more info would be great. Thanks.

[2017-11-02 12:59] AnnCorp commented on #1060
@gingerbenw @dougmet just discussed this issue in our team. Before actioning any changes for colours that fail contrast test (10 out of 17 of the icons), keen to have something that would show what the colour is now and how much would have to tweak it to make it pass - trying to understand here how much change is required and so how far would we be diverging from the global goals branding.
Will ma

[2017-11-02 13:22] gingerbenw commented on #1075
Issue occurs if the indicator in question has a number of goals divisible by 4.

the template at _layouts/goal.html closes a div at the end of each line
`62 {% cycle 'end row' : '', '', '', '</div>' %}`

[2017-11-02 13:50] AnnCorp opened #1083 "Tweak to header msg re Alpha status."
Current text
'This is a development website and data may be test data.  We welcome your feedback.'
Change to following please:
'This is a development website.  We welcome your feedback.'
Link to remain on feedback please.

[2017-11-02 13:54] gingerbenw commented on #1075
[code]

[2017-11-02 14:21] MaxEngledewAdmin commented on #1074
Yep, a bulk fix on this would be greatly appreciated! They should all be links to pdf (size may vary).

[2017-11-02 16:38] gingerbenw opened #1142 "Usability - Consider making the page titles short and concise"

[2017-11-02 17:03] dougmet opened #1150 "Accessibility: Accessible Alternative"
Broken off #1067

This covers the hard bit. When the chart updates a person with a screen reader has no way to see the changes.

[2017-11-02 17:23] dougmet commented on #1069
There are a number of ways you can go, each with its own technical challenges. This is my proposal:

You can select as many as you like. However, only the first `N` (let's say `N=20`) will display. If you've gone over 20 then a message appears with something like: "Maximum number of selections reached. Some lines will not display until you remove some."

Note for accessibility this needs to be rea

[2017-11-02 17:30] dougmet commented on #1150
This is quite a challenge. I have three suggestions. From easy to hard.

**Easy:** We provide a clear link to the `Download source CSV` and link to wiki explaining how to use it. This is an accessible alternative to what's on the chart.

**Medium:** In an earlier iteration of the website we had the pivot table of all the data that was on the chart. We could have a "download chart data" button that

[2017-11-02 17:35] dougmet commented on #1067
I've moved the "An accessible alternative that displays all of the ratios is also required." part to #1150 so this ticket is about adding explanatory text into the side bar so that it's clear to screen reader users (and everyone I guess!) what you're supposed to do with it.

[2017-11-02 17:38] dougmet commented on #1142
To be clear this is the title as in the `<title>` tag, not the `<h1>` content.

[2017-11-02 17:58] dougmet commented on #516
Update. If you click UK to remove the headline data it springs into life!

![image](https://user-images.githubusercontent.com/5878305/32342080-4d45e438-bff7-11e7-9216-31ca8e2fee97.png)

So it seems to be a chart.js thing.

[2017-11-02 21:46] shaneporter commented on #1069
OK, I'll go with 20 (but will define this in one place so it's easy to change.)

Next question is what colours/line styles should I use for the items? We were talking a while ago about grouping 'lines' from a particular disaggregation in a particular way (shades of a colour, for example), but that won't work if 20 selections are made from a single disaggregation.

I tried to look at some other ONS

[2017-11-03 08:49] AnnCorp commented on #1065
From Deb Roberts at DAC:
There is a link below that gives an accessible dropdown example, that is tried and tested by our team and found to be accessible.  The ‘Billing Address’ drop down is the one that you require.
https://www.w3.org/TR/wai-aria-practices/examples/accordion/accordion.html

[2017-11-03 09:06] shaneporter commented on #1069
Also, some of the 'categories' (disaggregations) have far more than 20 options, so the 'Select all' is something of a false promise.

[2017-11-03 09:09] AnnCorp commented on #1142
Assume this applies to the goals pages and indicator pages?
There is no shortened version of text for the indicator descriptions but as the purpose of this field for screen reader users is to determine the content of the page content, work it work if we just have something like  'Information for indicator x.x.x'?
For goals, we could use the shortened text version that's in the goal icons, or shoul

[2017-11-03 09:13] AnnCorp opened #1160 "Home page txt - small tweak"
On home page currently has text
'Click on each goal for UK national statistics for Sustainable Development Goal global indicators.'
Please remove 'national' so text reads
'Click on each goal for UK statistics for Sustainable Development Goal global indicators.'
This is because 'national statistics' is used as a quality kite mark, so don't want to confuse users thinking everything on site has reach

[2017-11-03 09:14] gingerbenw commented on #1142
That’s a good point - if ‘indicator x.x.x - [goal short]’ is doable, I think that would be perfect

[2017-11-03 09:32] #1058 closed

[2017-11-03 09:33] #1059 closed

[2017-11-03 09:33] #1057 closed

[2017-11-03 09:35] #1075 closed

[2017-11-03 09:37] dougmet commented on #1063
Just needs the search page adding. The titles in results are `<h4>` but need to be `<h2>`

[2017-11-03 09:47] dougmet commented on #1070
@AnnCorp mentioned adding the standard footnote information (same as the chart) next to table as well. Either a footnote element or a caption. So we'll add units of measure, source, and geography.

[2017-11-03 09:49] shaneporter commented on #516
Interesting. I was under the impression that 'headline data' would always be present and would be shown by default.

So what should be initially shown on the graph?

[2017-11-03 09:53] dougmet opened #1166 "Move page.content into its own row"
So that it cross the whole page and the sub-categories tucks in underneath it.

[2017-11-03 09:55] dougmet opened #1167 "Style the sub-categories label a bit smaller"
`#toolbar h3`

[2017-11-03 09:59] dougmet commented on #1071
Put the button above the chart. If possible in a row above the sub categories. Must be clear that this is the link to the accessible alternative.

Need to make sure that it only displays when the chart displays.

[2017-11-03 10:03] MaxEngledewAdmin commented on #516
I believe this was discussed in the meeting with Claudia. If there's no headline  I think it should select the data for the highest level of disaggregation, in this case the subjects `English` and `Maths`, or just an arbitrary selection of a limited amount if there are loads.

Is this right @AnnCorp ?

[2017-11-03 10:13] dougmet commented on #1071
Can we also add a link to the source download?

[2017-11-03 10:17] dougmet commented on #1150
We want to do the hard version. But should implement the easy version immediately so that a fall back is in place.

[2017-11-03 10:21] dougmet commented on #1142
`indicator x.x.x - Goal [goal] [goal short]`

[2017-11-03 11:00] dougmet opened #1184 "Wrong units in selection : Forests 15-2-1"
Steps to reproduce:

Load [15-2-1](https://datasciencecampus.github.io/sdg-indicators/15-2-1/)

Click geographies. Select all.

Disaggregation data shown on chart does not correspond to `Annual certified woodland area growth rate (%)`

![image](https://user-images.githubusercontent.com/5878305/32370829-581745fc-c086-11e7-9ba8-da6b1305b79a.png)

[2017-11-03 11:06] dougmet opened #1185 "Excel versions of data download"
These can be generated at build time using pandas.

Propose we have a data sheet and front page sheet with some selected metadata. Provide a link next to the download source CSV

Post-launch feature

[2017-11-03 11:14] AnnCorp commented on #1167
Widened this to cover the indicator page, not just the sub-categories bit.
Need to review and tweak the headings/styles used so accurately reflects hierarchy of things on page and have consistency (while adhering to the accessibility need for logical use of heading styles). [As non-techy not sure how the chart elements are controlled.]

Some things have noticed:
1. The sub-categories heading is bi

[2017-11-03 11:24] shaneporter commented on #516
Thanks @MaxEngledewAdmin - I'll wait for @AnnCorp to confirm and then I'll apply the change.

[2017-11-03 11:26] #685 closed

[2017-11-03 11:26] #1083 closed

[2017-11-03 11:27] AnnCorp opened #1194 "Chart headline legend to reflect geographical area"
The headline legend description on the charts says UK but not all indicators are UK eg
https://datasciencecampus.github.io/sdg-indicators/8-8-1/ is Great Britain
https://sustainabledevelopment-uk.github.io/16-1-1/ is England and Wales
So we need some way for the headline legend to accurately reflect the Geographical Area.

[2017-11-03 11:38] AnnCorp opened #1199 "Add Source and Geographical area below Data table"
Under chart we have Source, Geographical area and Units. Need to replicate this under the data table on Data tab.
So need to move Units info and add in Source and Geographical area.

[2017-11-03 11:42] dougmet commented on #685
The dummy markdown for posterity:

[code]

[2017-11-03 11:44] MaxEngledewAdmin commented on #685
@dougmet Thanks Doug!

[2017-11-03 12:02] dougmet commented on #685
And this is useful https://www.tablesgenerator.com/markdown_tables

[2017-11-03 13:12] MaxEngledewAdmin commented on #516
Its important to note that this one does have some headline data under key stage 4. [11.6.2](https://datasciencecampus.github.io/sdg-indicators/11-6-2/) is a simple example of no headline data. I've spoken to @AnnCorp about this and she's happy to proceed with the change suggested. Hopefully it fixes the issue!

[2017-11-03 13:49] AnnCorp commented on #1184
@ dougmet @shaneporter I think this sounds the same as a bug Max just mentioned to me.
When you select a different unit, the data for that unit isn't reflected in the chart - it displays the data for the previously selected unit but showing it on the scale for the newly selected unit. Examples from Max:
8.4.1 Select tonnes per capita. Select biomass (value 3.2 in 2000). Switch to tonnes per GDP an

[2017-11-03 14:02] shaneporter commented on #516
Thanks @MaxEngledewAdmin

[2017-11-03 14:08] AnnCorp commented on #1184
@sporter do you think this is the same issues as #688 or something different (am trawling through the bug tickets before adding new ones max raises...)

[2017-11-03 14:16] AnnCorp opened #1202 "Full time series not displaying unless deselect UK"
Eg 4.1.1
Select a subject eg English and select Key stage 1 disagg. You'll only see data point for one time period even though there are multiple time periods. If you deselect UK, then all the time periods display - it seems to somehow be picking up the time series duration from the headline figure not the disaggregation?
There is one UK data point for Key stage 4 so behaves differently for that a

[2017-11-03 14:21] AnnCorp opened #1203 "Change 'Selectable' to 'Available' in filtering"
Suggestion from team that change wording in the subcategory filtering from
'Selectable when xxxx is selected'
to
'Available when xxxx is selected'

[2017-11-03 14:34] AnnCorp opened #1204 "Filtering should reflect data hierachy"
Within the hierarchical filtering, users can select subcategories when no data exists for that combination, but ideally they shouldn't be able to.
Examples:
https://datasciencecampus.github.io/sdg-indicators/3-1-2/ can select Wales as a country and then select any/all of the options in 'Region' but those regions don't exist for Wales data, only for England. Similarly if select England can then sel

[2017-11-03 14:39] AnnCorp commented on #1204
@shaneporter @dougmet have no idea of the complexity or time involved in providing a solution to this - doesn't seem like a simple thing.
Be good if you could discuss and come up with some suggested options, if poss please, so can gauge how big a job it would be to fix.
In our team there's various views on if shouldn't see the subcategory at all if can't select it or if things should all be visibl

[2017-11-03 18:05] #1184 closed

[2017-11-03 18:24] shaneporter commented on #1184
I _think_ that #688 is fixed too as a result of this change.

[2017-11-04 18:11] dougmet commented on #1074
Bulk fix implemented. I added a script that works out file size for each PDF and updated the text. I didn't add the part about opening in a new window because as far as I can tell the link **doesn't** open in new window

[2017-11-06 09:04] gingerbenw commented on #1074
It sounds as though the link needs to open in a new window for accessibility - this can be solved by adding `target='_blank'` to the opening `<a>` tag.

[2017-11-06 09:44] dougmet commented on #1069
Just to keep you on your toes. I'm wondering if we go a bit more extreme with something like 12. Then for colours we could use the exist 6 plus some dashed lines (if they're still possible).

[2017-11-06 09:45] shaneporter commented on #1069
OK

[2017-11-06 10:54] gingerbenw commented on #1065
found the missing component! simply had to add a button tag around the item we wanted to trigger 👍

[2017-11-06 11:42] dougmet commented on #1194
Use the `page.geographic_area` instead of `site.country_name`

[2017-11-06 11:43] #1166 closed

[2017-11-06 11:50] dougmet commented on #1202
I think this is a duplicate of #516

[2017-11-06 12:06] dougmet commented on #1074
What we're going to do is to make all metadata links open in new window and insert the span tag into each link text. https://github.com/datasciencecampus/sdg-indicators/blob/cc3684c99d6b0934aaaa40d865d9533f0de0accf/_includes/components/metadata.html#L18

[2017-11-06 12:50] gingerbenw commented on #1065
#1311

[2017-11-06 14:25] gingerbenw commented on #1060
Please see the following screenshots for the accessible images.

![screen shot 2017-11-06 at 14 23 50](https://user-images.githubusercontent.com/24570483/32445597-28d68210-c2fe-11e7-9ef6-8570e02a4fd0.png)
![screen shot 2017-11-06 at 14 23 57](https://user-images.githubusercontent.com/24570483/32445599-2aa2969c-c2fe-11e7-8b8f-c45027a53c8f.png)

Each of these achieves a ratio of 4.5:1, achieving a A

[2017-11-06 14:26] gingerbenw commented on #1060
2, 7 and 11 being the most offensive changes in my opinion.

[2017-11-06 14:29] gingerbenw commented on #1062
Covered by Issue #1060

[2017-11-06 14:29] #1062 closed

[2017-11-06 14:30] gingerbenw commented on #1061
Covered by Issue #1063

[2017-11-06 14:30] #1061 closed

[2017-11-06 15:18] dougmet commented on #1060
yes that's lots of different shades of brown. Thanks @gingerbenw this is really useful

[2017-11-06 15:27] gingerbenw commented on #1167
Is this the heading that needs to be left aligned? I don't believe this is currently a heading, it's simply a caption on the chart - the heading is currently included lower on the page above the table.

![screen shot 2017-11-06 at 15 25 27](https://user-images.githubusercontent.com/24570483/32448451-cfef4796-c306-11e7-951f-20de0abca2cb.png)

[2017-11-06 15:33] #1067 closed

[2017-11-06 15:40] dougmet commented on #1199
I'm thinking of using a `<tfoot>` element for this, unless there's a big accessibility reason not to. I can't see anything to say it's bad (nor especially good). Other option is to put it all in the caption but that might overload it and would put it all at the top.

[2017-11-06 16:03] gingerbenw commented on #1063
Awaiting closure of #1167 to resolve

[2017-11-06 16:11] dougmet commented on #1199
Looks like `tfoot` is more for column totals, that sort of thing. I'm going to put this is a div.

[2017-11-06 16:27] dougmet commented on #1065
yes go for it. Thanks @gingerbenw

[2017-11-06 16:50] AnnCorp commented on #1060
@gingerbenw  great for me to have these ready for chat with the big boss tomorrow - thank you. Will feedback after meeting....

[2017-11-06 16:51] gingerbenw commented on #1071
We could just add a link to the table anchor - this would mean clicking this button would simply take you straight to the table at the bottom of the page with the download for both the headline data and the source

![screen shot 2017-11-06 at 16 50 08](https://user-images.githubusercontent.com/24570483/32452842-9282c7b4-c312-11e7-98e3-b37c8ef59e92.png)

[2017-11-06 16:52] gingerbenw commented on #1071
After clicking button:

![screen shot 2017-11-06 at 16 51 49](https://user-images.githubusercontent.com/24570483/32452923-d152ca66-c312-11e7-926d-b92de87068fa.png)

[2017-11-06 17:37] #1160 closed

[2017-11-06 17:39] #1199 closed

[2017-11-06 17:40] #1203 closed

[2017-11-06 21:30] #1069 closed

[2017-11-06 21:48] #1194 closed

[2017-11-07 08:57] dougmet commented on #1142
see commit. Assigning to @gingerbenw

[2017-11-07 09:35] gingerbenw commented on #1167
![screen shot 2017-11-07 at 09 34 31](https://user-images.githubusercontent.com/24570483/32486568-eb45467e-c39e-11e7-843a-0b582d42318f.png)

[2017-11-07 09:36] gingerbenw commented on #1167
![screen shot 2017-11-07 at 09 36 45](https://user-images.githubusercontent.com/24570483/32486671-32cee57c-c39f-11e7-94ad-34197fd3248c.png)

[2017-11-07 09:37] gingerbenw commented on #1167
headline data tag smaller

[2017-11-07 10:13] gingerbenw commented on #1071
Please see commit #1454

[2017-11-07 10:17] #1065 closed

[2017-11-07 11:40] #1071 closed

[2017-11-07 12:13] gingerbenw commented on #1167
Please see #1472

[2017-11-07 12:13] #1167 closed

[2017-11-07 12:14] gingerbenw commented on #1063
#1472

[2017-11-07 12:14] #1063 closed

[2017-11-07 14:27] AnnCorp commented on #1074
@gingerbenw We discussed rerunning the job to add file sizes once Max's team have updated some links

[2017-11-07 15:05] gingerbenw commented on #1070
#1540

[2017-11-07 15:09] #1070 closed

[2017-11-07 15:15] gingerbenw commented on #1142
Added another dash:

`indicator x.x.x - Goal [goal] - [goal short]`

Happy!

[2017-11-07 15:15] #1142 closed

[2017-11-08 09:37] gingerbenw opened #1614 "Add list item styling to FAQ page"
styling has been removed for menu items which has affected the rest of the page

[2017-11-08 09:56] AnnCorp opened #1618 "Add 'Footnote: ' before footnote text under table"
Just need to prefix the footnote text with 'Footnote: ' where it occurs under the data table.

[2017-11-08 10:01] AnnCorp opened #1620 "Tweak text in 'i' info box"
Currently all indicator pages  have an 'i' info box that says 'See metadata tab for sources, definitions, and methodology information'
As the Sources are in a separate tab, please change the text to say 'See Metadata tab for definitions and methodology information'

[2017-11-08 10:02] AnnCorp commented on #1074
@MaxEngledewAdmin please let Ben know once your link updates are all done and merged and he will rerun the job. Thanks!

[2017-11-08 10:05] MaxEngledewAdmin commented on #1074
Will do - won't be long now!

[2017-11-08 10:38] AnnCorp commented on #1060
The official SDG Icons (and other branding logos) are found here: http://www.un.org/sustainabledevelopment/news/communications-material/
@gingerbenw Before we get something drafted to the UN re icons and accessibility, please could we just doublecheck that we have exactly the icons/colours as supplied by them. Thank you!

[2017-11-08 11:11] AnnCorp commented on #1060
Guidance Ben is looking at http://www.un.org/sustainabledevelopment/wp-content/uploads/2016/10/UN-Guidelines-for-Use-of-SDG-logo-and-17-icons.October-2016.pdf

[2017-11-08 11:48] MaxEngledewAdmin commented on #1074
@gingerbenw this is ready to go but we're still updating other items in the metadata - will this cause conflicts with open metadata pull requests?

[2017-11-08 12:02] AnnCorp opened #1651 "Zeroes not appearing on the charts"
There are instances where we have valid zeroes in the data but these are not appearing on the charts but they should do please.
Examples spotted by Max:
https://datasciencecampus.github.io/sdg-indicators/3-9-3/  Age category 10 to 14 , 2015 should be 0 but nothing displays
https://datasciencecampus.github.io/sdg-indicators/4-b-1/ Within Type of aid select "Imputed student costs" and 2009 to 2014 s

[2017-11-08 12:04] AnnCorp commented on #1620
@gingerbenw pls could this one be next after looking at zeroes bug.

[2017-11-08 12:09] gingerbenw commented on #1060
![screen shot 2017-11-08 at 12 08 57](https://user-images.githubusercontent.com/24570483/32548458-a139bfbc-c47d-11e7-931a-cee62226991c.png)

[2017-11-08 12:11] AnnCorp commented on #1150
@shaneporter  no expectation to get anything more than 'easy' option in place for soft launch tmrw (already done) but need to talk through the other 2 options please to see what we do next. When/how best to do this for you please? Should we go for 'medium' and then build on this if do 'hard' option?

[2017-11-08 12:55] gingerbenw commented on #1060
We require an accurate list of where UN ones fail or pass and what the ratios are.

[2017-11-08 14:55] shaneporter commented on #1150
I'll join the call tomorrow if that's ok.

[2017-11-08 15:12] gingerbenw commented on #1620
Fixed - #1713

[2017-11-08 15:12] #1620 closed

[2017-11-08 15:57] gingerbenw commented on #1614
#1719

[2017-11-08 15:58] #1614 closed

[2017-11-08 16:16] gingerbenw commented on #1618
It does look at though this has already been covered; this text will be added if there is a footnote present.

[2017-11-08 16:37] gingerbenw commented on #1618
#1721

[2017-11-08 16:37] #1618 closed

[2017-11-08 17:14] gingerbenw commented on #1074
Ahh! Hey Max; Apologies but I totally missed this message. So long as the same sections aren't being updated again it shouldn't. Thought it might be preferable to wait until it's all completed if we think it'll be finished before launch?

[2017-11-08 19:42] #1651 closed

[2017-11-08 22:45] dougmet commented on #1074
The link text is accessible via prose so I think the hope was that after the initial bulk edit the link text would be maintained manually as the URLs change. How many is it?

[2017-11-09 09:13] AnnCorp opened #1748 "Footnotes on charts should wrap long text"
Where there is long footnote text, it isn't all displaying - need it to wrap please (wraps fine where occurs under data table)
Example: https://datasciencecampus.github.io/sdg-indicators/3-a-1/

[2017-11-09 09:13] AnnCorp commented on #1748
@gingerbenw is this one you could look at please?

[2017-11-09 09:24] #950 closed

[2017-11-09 09:40] AnnCorp commented on #1074
Agreed will do manually

[2017-11-09 09:40] #1074 closed

[2017-11-09 09:41] AnnCorp commented on #1202
fixed

[2017-11-09 09:41] #1202 closed

[2017-11-09 09:54] MaxEngledewAdmin commented on #353
16.2.3

[2017-11-09 09:55] MaxEngledewAdmin commented on #353
6.5.1, 6.5.2

[2017-11-09 09:59] dougmet commented on #688
Hi @MaxEngledewAdmin, can you check if this is still a bug? I think one of the recent fixes may have fixed this. Looks OK to me.

If it looks OK then we can close this off.

[2017-11-09 10:01] MaxEngledewAdmin commented on #688
@dougmet Looks fine to me